/**
  Timetable related element styling including :
  1. Timetable week heading element
  2. Timetable sorter element
  3. Timetable Rows
  4. Timetable header element
  5. Timetable days element
  6. Timetable entry element

  @see VTCore_Zeus_Timetable class for the object loading method
  @see templates/content/timetable.php for the timetable markup
  @see custom/page-timetable.php for the custom template file

  @author jason.xie@victheme.com
  **/

/**
  Timetable week heading element
  **/
.timetable-weekdate {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 66px;
  display: block;
  font-weight: bold;
}


/**
  Timetable sorter element
  **/
.timetable-sorter {
  font-size: 0;
  margin: 0 0 95px;
  text-align: center;
}

.timetable-sorter-item {
  display: inline-block;
  margin-bottom: 10px;
}

.timetable-sorter-item a {
  display: block;
  font-size: 14px;
  padding: 7px 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  margin-right: 5px;
  border-width: 2px;
  border-style: solid;
  font-weight: 700;
}

/**
  Timetable Rows
  **/
.timetable-row.row {
  margin-left: -10px;
  margin-right: -10px;
}

.timetable-row.row [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

.timetable-content {
  margin-bottom: 20px;
}

/**
  Timetable Header
  **/
.timetable-header {
  left: 0;
  position: relative;
  transition: left 1s ease-in-out;
  -webkit-transition: left 1s ease-in-out;
}
.timetable-header-wrapper {
  display: block;
  visibility: visible;
  margin-bottom: 10px;
}

.timetable-header-entry {
  padding: 30px;
  background-color: #f7f7f7;
  height: 100%;
}

#page .timetable-header-entry .post-title {
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size: 18px;
  color: #3dc5df;
  font-weight: 600px;
}

.timetable-shift-time {
  font-weight: 700;
  display: block;
}

/**
  Timetable days element
  **/
.timetable-content .timetable-date {
  background-color: #f7f7f7;
}

#page .timetable-date .post-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.timetable-date-entry {
  padding: 30px;
  background-color:  #f7f7f7;
}

/**
  Timetable entry element
  **/
.timetable-columns {
  left: 0;
  transition: left 1s ease-in-out;
  -webkit-transition: left 1s ease-in-out;
}
.timetable-content-column {
  display: block;
  visibility: visible;
}

.timetable-schedule-entry {
  margin-bottom: 5px;
  padding: 25px;
  display: block;
  visibility: visible;
  width: 100%;
}

.timetable-content-entry > .timetable-schedule-entry:last-child {
  margin-bottom: 0;
}

#page .timetable-schedule-entry .post-title {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}



@media (max-width: 480px) {
  .timetable-content .timetable-date {
    margin-bottom: 10px;
    background-color: transparent;
  }
}