/**
  CSS for styling all the victheme_department related
  elements including :
  1. Teaser Elements
  2. Teaser Flip Mode
  3. Teaser Grid Mode
  4. Teaser Masonry Mode
  5. Department Single Mode
  6. Department Carousel Thumb List
  7. Department Carousel Full
  **/


/**  TEASER ELEMENTS **/
.department-archive-title {
  margin-bottom: 40px;
}

.department-archive-description {
  margin-bottom: 80px;
}

.department-icon {
  margin-bottom: 30px;
}

.post-department-teasers .post-readmore {
  font-weight: bold;
}

.post-department-teasers .post-readmore i {
  font-size: 13px;
  width: 14px;
  height: 14px;
  margin-left: 5px;
}

.post-department-teasers .post-excerpt {
  padding-bottom: 13px;
  padding-top: 16px;
}

.post-department-teasers .post-title {
  letter-spacing: 1px;
}


/** TEASER FLIP MODE **/
.department-flip .post-split {
  min-height: 478px;
}

.department-flip .post-split.top .post-back-inner {
  margin-top: 40px;
}

/** TEASER GRID MODE **/
.department-grid-simple .post-back-inner {
  padding: 40px;
  height: 100%;
}

.department-flip .slick-items > .post-department-teasers {
  margin: 50px 15px;
}




/** TEASER MASONRY MODE **/
.template-department-masonry {
  margin-left: 0;
  margin-right: 0;
}
.department-masonry .height-one {
  /**height: 800px;**/
}

.department-masonry .height-two {
  /**height: 620px;**/
}

.department-masonry .height-three {
  /**height: 310px;**/
}

.department-masonry .height-four {
  /**height: 490px;**/
}

#page .department-masonry .department-items {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#page .department-masonry .department-items > .entry-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.department-masonry .department-items .post-thumbnail-link,
.department-masonry .department-items .post-thumbnail {
  margin: 0;
}

.department-masonry-hover-wrapper {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  padding: 25px 15px;
  transition: all ease .8s;
  -webkit-transition: all ease .8s;
  -moz-transition: all ease .8s;
  -o-transition: all ease .8s;
  -ms-transition: all ease .8s;
}

.department-items:hover .department-masonry-hover-wrapper {
  bottom: 0;
}

.department-masonry-hover-wrapper > .entry-wrapper {
  position: relative;
}

.department-masonry-hover-wrapper .post-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  margin-right: 40px;
}

.department-masonry-hover-wrapper .post-excerpt {
  margin: 0 40px 0 0;
  padding: 0;
}

.department-masonry-hover-wrapper .post-readmore {
  position: absolute;
  top: 10px;
  right: 10px;
}

.department-masonry-hover-wrapper .post-readmore i {
  font-size: 22px;
}




/** SINGLE PAGE **/
.department-header-wrapper {
  position: relative;
}

.department-header-wrapper .post-thumbnail {
  min-height: 370px;
  margin: 0 !important;
}

.department-sloganbox {
  position: absolute;
  bottom: 37px;
  left: 27px;
  padding: 20px 20px 20px 50px;
  max-width: 360px;
  width: 80%;
}

.department-sloganbox .department-slogan {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  margin-bottom: 35px;
}

.department-sloganbox .department-slogan:after {
  content: '\f10e';
  font-family: fontawesome;
  font-weight: normal;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  display: block;
  position: absolute;
  top: -7px;
  left: -30px;
}

.department-sloganbox .department-slogan:before {
  content: '\f10e';
  font-family: fontawesome;
  font-weight: normal;
  display: block;
  position: absolute;
  bottom: -17px;
  right: -9px;
}

.department-sloganbox .department-author {
  font-weight: bold;
}

.post-department .post-header-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-department .post-content {
  padding-top: 0;
}


/**
  Department carousel thumb list template
  **/
#page .department-thumb-list {
  padding: 60px 0;
  outline: 0;
  border-width: 0;
}

#page .department-thumb-list .slick-list {
  padding: 0 0 0 17px !important;
  margin-left: -17px;
}

#page .department-thumb-list .slick-items {
  border-width: 0;
  opacity: 1;
  margin: 0;
  padding: 0;
}

.department-thumb-list .slick-items > .item {
  display: block;
  margin: 0 30px;
  padding: 30px 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.department-thumb-list .slick-center .item {
  border-bottom-width: 0;
}

.department-thumb-list .slick-center {
  position: relative;
}

.department-thumb-list .slick-center:before {
  width: 24px;
  height: 24px;
  display: block;
  content: '';
  left: -12px;
  top: 50%;
  margin-top: -12px;
  background: inherit;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
}

/**
  Department Carousel Full
  **/
.department-carousel-full .slick-items > .item {
  padding: 70px;
  height: 630px;
}

/**
  Department Carousel Banner
  **/
.department-carousel-banner .post-thumbnail {
  height: 630px;
  margin: 0;
}

/** Department Icons **/
.department-icon i {
  font-size: 60px;
}
.department-icon i.medikal {
  font-size: 120px;
}



/**
  Department grid mode
  **/
#page .wp-loop .department-grid {
  padding: 30px;
  margin-bottom: 60px;
}

#page .wp-loop .department-grid .post-thumbnail {
  border-radius: 6px;
}

#page .wp-loop .department-grid .department-icon {
  margin-top: -70px;
  margin-bottom: 0;
}

#page .wp-loop .department-grid .wp-icons-wrapper {
  text-align: left;
  margin-left: 20px;
}

#page .wp-loop .department-grid .department-icon .wp-icons-effect {
  font-size: 30px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  line-height: 72px;
  border-radius: 120px;
  border: 4px solid #fff;
  background: #3dc5df;
  text-align: center;
  vertical-align: middle;
}

#page .wp-loop .department-grid .department-icon i {
  font-size: 30px;
  color: #fff;
}

#page .wp-loop .department-grid .department-icon i.medikal {
  font-size: 60px;
}

#page .wp-loop .department-grid .post-title {
  margin-bottom: 0;
  font-size: 18px;
  text-transform: none;
}

#page .wp-loop .department-grid .post-excerpt {
  padding-top: 10px;
}

#page .wp-loop .department-grid .post-title,
#page .wp-loop .department-grid .post-excerpt,
#page .wp-loop .department-grid .post-readmore {
  margin-left: 120px;
  text-align: left;
}
