/**
  FAQ Override
  **/
#page .wpb_toggle {
  font-weight: bold;
  font-size: 16px;
  background-position: 6px 11px;
  padding-left: 30px;
  margin-bottom: -1px;
}

#page .wpb_toggle_content {
  padding: 0 15px 15px;
}

#page .panel-toggle {
  overflow: hidden;
}


/**
  Tabs Masked as panels
  **/
#page .panel-tabs .panel-body {
  background: none;
}

.panel-tabs .panel-heading > li {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: inherit;
  background: none;
}

/**
  Tabs converted as tour element
  **/
#page .wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

#page .wpb_tour_next_prev_nav {
  margin-bottom: 20px;
  padding-right: 20px;
}

/**
  Accordion Overrides
  **/
#page .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
  padding: 6px 15px;
  margin: 0 0 -1px;
}

#page .panel .panel .wpb_accordion_header {
  margin: 0 0 1px;
  padding: 6px 0;
}

#page .panel .panel .wpb_accordion_header.ui-state-active {
  background: none;
}

#page .panel .panel .wpb_accordion_header.ui-state-active a {
  color: inherit;
}

#page .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a {
  padding: 0;
}

/**
  Carousel Fixes
  **/
#page .vc-carousel-slideline-inner .vc-inner {
  height: 100%;
  margin: 0 10px;
}

#page .vc_carousel .vc-carousel-control .icon-prev,
#page .vc_carousel .vc-carousel-control .icon-next {
  background-color: transparent;
}

#page .vc-carousel {
  padding-bottom: 40px;
}

#page .vc-carousel-control {
  height: 50px;
  width: 50px;
  background: none;
  opacity: 0.7;
  text-align: center;
}

#page .vc-carousel-control span:before {
  font-size: 40px;
  font-family: "fontawesome";
}

#page .vc-carousel-control span:hover {
  opacity: 1;
}

#page .vc-carousel-control .icon-next:before {
  content: "\f138";
}

#page .vc-carousel-control .icon-prev:before {
  content: "\f137";
}

#page .vc-carousel-indicators {
  bottom: -20px;
}

/**
  Gallery sliders
  **/
.wpb_gallery .wpb_wrapper.multiple.boxed {
  padding-bottom: 40px;
}

.wpb_gallery .wpb_gallery_slides .nivoSlider,
.wpb_gallery .wpb_gallery_slides {
  box-shadow: none;
  background: none;
  border: none;
  padding: 0;
}

#page .wpb_posts_slider .flex-caption, #page .wpb_posts_slider .nivo-caption {
  border: none;
  border-radius: 0;
  padding: 20px;
}


/**
  Button Overrides
  **/
#page button.btn.wpb_btn-large,
#page span.btn.wpb_btn-large {
  border-radius: 4px;
  margin: 0 20px;
}

/**
  Dial overrides
  **/
.jqknob {
  font-family: inherit !important;
  font-weight: inherit !important;
}

.dial-element-wrapper {
  display: inline-block !important;
}

/**
  Area overrides
  **/
.area.vc_area {
  padding: 0;
}

.area > .masking > .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.area > .masking > .container-fluid > .row {
  margin-left: -30px;
  margin-right: -30px;
}

.area > .masking > .container-fluid > .row > .wpb_column {
  padding-left: 30px;
  padding-right: 30px;
}

/** 
  Row overrides
  **/
.row.wpb_row {
  margin-bottom: 0;
}

body.compose-mode .control-btn-switcher {
  height: 30px;
}

body.compose-mode .vc-empty-shortcode-element:after {
  clear: both;
  content: '';
  display: block;
}

body.compose-mode .control-btn .vc-btn-content {
  padding: 7px 7px 6px !important;
  height: 30px !important;
}

/**
  Masking
  **/
#page .masking {
  background-color: inherit;
  position: relative;
}

.panel > .last_toggle_el_margin {
  display: none;
}

/**
  Slick Carousel Add on
  **/
#page .slick-carousel .slick-slide img {
  border: none;
  background: none;
}

/**
  Special Style for tabs element
  **/
#page .wpb_tabs.tabs-open-style .wpb_wrapper {
  border: none;
  box-shadow: none;
}

#page .wpb_tabs.tabs-open-style .wpb_tabs_nav {
  width: auto;
  margin: 0 auto;
  display: table;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 60px;
}

#page .wpb_tabs.tabs-open-style .wpb_tabs_nav li.ui-state-active,
#page .wpb_tabs.tabs-open-style .wpb_tabs_nav li {
  background: transparent;
}

#page .wpb_tabs.tabs-open-style .wpb_tabs_nav > li:last-child {
  border: none;
}

#page .wpb_tabs.tabs-open-style .wpb_tabs_nav li a {
  font-size: 14px;
  padding: 15px 30px;
}

/**
  Fix for default single image keep grey border
  **/
#page .vc_single_image-wrapper.vc_box_border_grey {
  background: transparent;
}

.vc_grid-item.post-teasers a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/**
  Version 4.4.4 - full width fixes
  **/
@media (max-width: 767px) {
  .vc_row-no-padding > .vc_col-lg-12,
  .vc_row-no-padding > .vc_col-md-12,
  .vc_row-no-padding > .vc_col-sm-12,
  .vc_row-no-padding > .vc_col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .vc_row-no-padding > .vc_col-lg-12,
  .vc_row-no-padding > .vc_col-md-12,
  .vc_row-no-padding > .vc_col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 992px) {
  .vc_row-no-padding > .vc_col-lg-12,
  .vc_row-no-padding > .vc_col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .vc_row-no-padding > .vc_col-lg-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

/** Social button **/
.vc_row .post-social {
  border: none;
  padding: 0;
  margin: 0;
}

.vc_row .post-social ul {
  margin: 0;
}

.vc_row .post-social li {
  margin-right: 10px;
}

/** Icon Fix **/
#page .vc_icon_element .vc_icon_element-inner {
  border: none;
}


/**
  Tour Element
  @since 4.7
**/
#page .vc_tta-style-theme {
  border-width: 0;
}

#page .vc_tta-style-theme .vc_tta-panel-heading li a,
#page .vc_tta-style-theme .vc_tta-panel-heading,
#page .vc_tta-style-theme .vc_tta-tabs-container {
  border-width: 0;
  border-radius: 0;
}

#page .vc_tta-style-theme .vc_tta-tabs-container ul {
  padding: 60px 0;
}

#page .vc_tta-style-theme .vc_tta-tabs-container li {
  border-width: 0;
  border-radius: 0;
}

#page .vc_tta-style-theme .vc_tta-tabs-container li a {
  padding: 0;
  border-width: 0;
}

#page .vc_tta-style-theme .vc_tta-panel-heading a span,
#page .vc_tta-style-theme .vc_tta-tabs-container li a span {
  display: block;
  margin: 0 30px;
  padding: 30px 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

#page .vc_tta-style-theme .vc_tta-panel-body {
  border-width: 0;
  padding: 70px;
}

#page .vc_tta-style-theme .vc_tta-tabs-container ul > li:last-child a span {
  border-bottom: 0;
}