@font-face {
  font-family: "medikal";
  src: url("../fonts/medikal.eot");
  src: url("../fonts/medikal.eot#iefix") format("embedded-opentype"),
  url("../fonts/medikal.woff") format("woff"),
  url("../fonts/medikal.ttf") format("truetype"),
  url("../fonts/medikal.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.iconpicker-icons.medikal {
  font-size: 28px;
}

.form-wpiconset .iconpicker-pager .iconpicker-icons {
  font-size: 70px;
}

.medikal:before {
  font-family: medikal;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.medikal-22:before {
  content: "\e000";
}

.medikal-2425:before {
  content: "\e001";
}

.medikal-2426:before {
  content: "\e002";
}

.medikal-2427:before {
  content: "\e003";
}

.medikal-2428:before {
  content: "\e004";
}

.medikal-2429:before {
  content: "\e005";
}

.medikal-2430:before {
  content: "\e006";
}

.medikal-a8:before {
  content: "\e007";
}

.medikal-alarm21:before {
  content: "\e008";
}

.medikal-ambulance10:before {
  content: "\e009";
}

.medikal-ambulance11:before {
  content: "\e00a";
}

.medikal-apple29:before {
  content: "\e00b";
}

.medikal-apple30:before {
  content: "\e00c";
}

.medikal-apple31:before {
  content: "\e00d";
}

.medikal-apple33:before {
  content: "\e00e";
}

.medikal-apple34:before {
  content: "\e00f";
}

.medikal-asterisk3:before {
  content: "\e010";
}

.medikal-baby106:before {
  content: "\e011";
}

.medikal-ball17:before {
  content: "\e012";
}

.medikal-band5:before {
  content: "\e013";
}

.medikal-band6:before {
  content: "\e014";
}

.medikal-bar13:before {
  content: "\e015";
}

.medikal-beaker3:before {
  content: "\e016";
}

.medikal-bed9:before {
  content: "\e017";
}

.medikal-bicycle9:before {
  content: "\e018";
}

.medikal-blood3:before {
  content: "\e019";
}

.medikal-blood4:before {
  content: "\e01a";
}

.medikal-blood5:before {
  content: "\e01b";
}

.medikal-blood6:before {
  content: "\e01c";
}

.medikal-blood7:before {
  content: "\e01d";
}

.medikal-caduceus2:before {
  content: "\e01e";
}

.medikal-calendar58:before {
  content: "\e01f";
}

.medikal-calls:before {
  content: "\e020";
}

.medikal-cardiac:before {
  content: "\e021";
}

.medikal-catholic:before {
  content: "\e022";
}

.medikal-cell6:before {
  content: "\e023";
}

.medikal-circle44:before {
  content: "\e024";
}

.medikal-clinic:before {
  content: "\e025";
}

.medikal-clock39:before {
  content: "\e026";
}

.medikal-conversations:before {
  content: "\e027";
}

.medikal-cross53:before {
  content: "\e028";
}

.medikal-curved11:before {
  content: "\e029";
}

.medikal-dentist4:before {
  content: "\e02a";
}

.medikal-dentist5:before {
  content: "\e02b";
}

.medikal-dentist6:before {
  content: "\e02c";
}

.medikal-dentist7:before {
  content: "\e02d";
}

.medikal-dentist8:before {
  content: "\e02e";
}

.medikal-dentist9:before {
  content: "\e02f";
}

.medikal-diet:before {
  content: "\e030";
}

.medikal-disease:before {
  content: "\e031";
}

.medikal-dna6:before {
  content: "\e032";
}

.medikal-drop11:before {
  content: "\e033";
}

.medikal-drop13:before {
  content: "\e034";
}

.medikal-dropper7:before {
  content: "\e035";
}

.medikal-drug1:before {
  content: "\e036";
}

.medikal-drugs1:before {
  content: "\e037";
}

.medikal-drugs2:before {
  content: "\e038";
}

.medikal-drugs3:before {
  content: "\e039";
}

.medikal-drug:before {
  content: "\e03a";
}

.medikal-dumbbell15:before {
  content: "\e03b";
}

.medikal-ear2:before {
  content: "\e03c";
}

.medikal-energy11:before {
  content: "\e03d";
}

.medikal-eye64:before {
  content: "\e03e";
}

.medikal-eye70:before {
  content: "\e03f";
}

.medikal-female126:before {
  content: "\e040";
}

.medikal-first18:before {
  content: "\e041";
}

.medikal-first20:before {
  content: "\e042";
}

.medikal-flag29:before {
  content: "\e043";
}

.medikal-flask4:before {
  content: "\e044";
}

.medikal-fork18:before {
  content: "\e045";
}

.medikal-frequency:before {
  content: "\e046";
}

.medikal-glass11:before {
  content: "\e047";
}

.medikal-hand66:before {
  content: "\e048";
}

.medikal-handicapped:before {
  content: "\e049";
}

.medikal-health1:before {
  content: "\e04a";
}

.medikal-health2:before {
  content: "\e04b";
}

.medikal-healthy3:before {
  content: "\e04c";
}

.medikal-healthy4:before {
  content: "\e04d";
}

.medikal-heart105:before {
  content: "\e04e";
}

.medikal-heart106:before {
  content: "\e04f";
}

.medikal-heart107:before {
  content: "\e050";
}

.medikal-heart112:before {
  content: "\e051";
}

.medikal-heart115:before {
  content: "\e052";
}

.medikal-heartbeats:before {
  content: "\e053";
}

.medikal-heartbeat:before {
  content: "\e054";
}

.medikal-helicopter18:before {
  content: "\e055";
}

.medikal-herbal:before {
  content: "\e056";
}

.medikal-honeycomb:before {
  content: "\e057";
}

.medikal-hospital5:before {
  content: "\e058";
}

.medikal-hospital6:before {
  content: "\e059";
}

.medikal-hospital7:before {
  content: "\e05a";
}

.medikal-hospital8:before {
  content: "\e05b";
}

.medikal-hospital9:before {
  content: "\e05c";
}

.medikal-human81:before {
  content: "\e05d";
}

.medikal-human82:before {
  content: "\e05e";
}

.medikal-immunity:before {
  content: "\e05f";
}

.medikal-increasing8:before {
  content: "\e060";
}

.medikal-inhaler:before {
  content: "\e061";
}

.medikal-injection1:before {
  content: "\e062";
}

.medikal-intravenous:before {
  content: "\e063";
}

.medikal-knife10:before {
  content: "\e064";
}

.medikal-leaf33:before {
  content: "\e065";
}

.medikal-lifeline4:before {
  content: "\e066";
}

.medikal-lifeline5:before {
  content: "\e067";
}

.medikal-liquid3:before {
  content: "\e068";
}

.medikal-liver2:before {
  content: "\e069";
}

.medikal-male152:before {
  content: "\e06a";
}

.medikal-male153:before {
  content: "\e06b";
}

.medikal-masculine:before {
  content: "\e06c";
}

.medikal-medical17:before {
  content: "\e06d";
}

.medikal-medical18:before {
  content: "\e06e";
}

.medikal-medical19:before {
  content: "\e06f";
}

.medikal-medical20:before {
  content: "\e070";
}

.medikal-medical21:before {
  content: "\e071";
}

.medikal-medical22:before {
  content: "\e072";
}

.medikal-medical23:before {
  content: "\e073";
}

.medikal-medical24:before {
  content: "\e074";
}

.medikal-medical25:before {
  content: "\e075";
}

.medikal-medical26:before {
  content: "\e076";
}

.medikal-medical27:before {
  content: "\e077";
}

.medikal-medical28:before {
  content: "\e078";
}

.medikal-medical29:before {
  content: "\e079";
}

.medikal-medical30:before {
  content: "\e07a";
}

.medikal-medical31:before {
  content: "\e07b";
}

.medikal-medical32:before {
  content: "\e07c";
}

.medikal-medical33:before {
  content: "\e07d";
}

.medikal-medical34:before {
  content: "\e07e";
}

.medikal-medical35:before {
  content: "\e07f";
}

.medikal-medicine20:before {
  content: "\e080";
}

.medikal-medicine21:before {
  content: "\e081";
}

.medikal-medicine22:before {
  content: "\e082";
}

.medikal-medicine23:before {
  content: "\e083";
}

.medikal-medicine24:before {
  content: "\e084";
}

.medikal-medicine25:before {
  content: "\e085";
}

.medikal-medicine26:before {
  content: "\e086";
}

.medikal-medicine27:before {
  content: "\e087";
}

.medikal-medicine28:before {
  content: "\e088";
}

.medikal-medicines1:before {
  content: "\e089";
}

.medikal-medicines2:before {
  content: "\e08a";
}

.medikal-medicines3:before {
  content: "\e08b";
}

.medikal-mortar1:before {
  content: "\e08c";
}

.medikal-mortar2:before {
  content: "\e08d";
}

.medikal-music166:before {
  content: "\e08e";
}

.medikal-natural4:before {
  content: "\e08f";
}

.medikal-no39:before {
  content: "\e090";
}

.medikal-nurse4:before {
  content: "\e091";
}

.medikal-oxygen1:before {
  content: "\e092";
}

.medikal-pharmaceutical1:before {
  content: "\e093";
}

.medikal-pharmaceutical:before {
  content: "\e094";
}

.medikal-pharmacy4:before {
  content: "\e095";
}

.medikal-pharmacy5:before {
  content: "\e096";
}

.medikal-pharmacy6:before {
  content: "\e097";
}

.medikal-plaster:before {
  content: "\e098";
}

.medikal-plus29:before {
  content: "\e099";
}

.medikal-plus31:before {
  content: "\e09a";
}

.medikal-pressuring:before {
  content: "\e09b";
}

.medikal-radish:before {
  content: "\e09c";
}

.medikal-red1:before {
  content: "\e09d";
}

.medikal-right37:before {
  content: "\e09e";
}

.medikal-scissor7:before {
  content: "\e09f";
}

.medikal-searching21:before {
  content: "\e0a0";
}

.medikal-shield53:before {
  content: "\e0a1";
}

.medikal-skull14:before {
  content: "\e0a2";
}

.medikal-smile2:before {
  content: "\e0a3";
}

.medikal-sparkling:before {
  content: "\e0a4";
}

.medikal-speech63:before {
  content: "\e0a5";
}

.medikal-sperms1:before {
  content: "\e0a6";
}

.medikal-spheres:before {
  content: "\e0a7";
}

.medikal-spoon8:before {
  content: "\e0a8";
}

.medikal-stethoscope8:before {
  content: "\e0a9";
}

.medikal-stick8:before {
  content: "\e0aa";
}

.medikal-syringe12:before {
  content: "\e0ab";
}

.medikal-syringe13:before {
  content: "\e0ac";
}

.medikal-tablet50:before {
  content: "\e0ad";
}

.medikal-tape1:before {
  content: "\e0ae";
}

.medikal-telephone76:before {
  content: "\e0af";
}

.medikal-test10:before {
  content: "\e0b0";
}

.medikal-test7:before {
  content: "\e0b1";
}

.medikal-test8:before {
  content: "\e0b2";
}

.medikal-test9:before {
  content: "\e0b3";
}

.medikal-thermometer26:before {
  content: "\e0b4";
}

.medikal-three70:before {
  content: "\e0b5";
}

.medikal-three71:before {
  content: "\e0b6";
}

.medikal-time8:before {
  content: "\e0b7";
}

.medikal-time9:before {
  content: "\e0b8";
}

.medikal-timer25:before {
  content: "\e0b9";
}

.medikal-tooth10:before {
  content: "\e0ba";
}

.medikal-tooth11:before {
  content: "\e0bb";
}

.medikal-tooth12:before {
  content: "\e0bc";
}

.medikal-tooth13:before {
  content: "\e0bd";
}

.medikal-tooth14:before {
  content: "\e0be";
}

.medikal-tooth8:before {
  content: "\e0bf";
}

.medikal-tooth9:before {
  content: "\e0c0";
}

.medikal-umbrella18:before {
  content: "\e0c1";
}

.medikal-vegetarian1:before {
  content: "\e0c2";
}

.medikal-wall16:before {
  content: "\e0c3";
}

.medikal-water31:before {
  content: "\e0c4";
}

.medikal-wheelchair3:before {
  content: "\e0c5";
}

.medikal-wineglass:before {
  content: "\e0c6";
}

.medikal-zzz:before {
  content: "\e0c7";
}
