/**
  Product Teasers
  **/

/**
  Notice in shop catalog page and shop pages
  @this uses overriden template in notice folder
  @use bootstrap css.
  **/
html #page .shop-message {
  border: medium none;
  padding: 15px;
  margin-bottom: 60px;
}

#page .shop-message i {
  margin-right: 10px;
}

#page .shop-message .close {
  margin-left: 20px;
}

/** Column alignment **/
.shop-catalog .column {
  padding-bottom: 50px;
  padding-top: 50px;
}

.shop-catalog .column .product {
  height: 100%;
  text-align: center;
  position: relative;
}

.shop-catalog .column .product > * {
  margin-bottom: 15px;
}

/** Product sale notice **/
.shop-catalog span.onsale {
  border-radius: 0;
  display: block;
  left: auto;
  line-height: 14px;
  margin: 0 !important;
  min-height: 1px;
  padding: 9px 20px;
  position: absolute;
  text-align: right;
  text-transform: uppercase;
  top: 0;
  vertical-align: middle;
}

/** Product image, use max height / imgfluid??? **/
.shop-catalog .column .product .product-image {
  display: block;
  margin-bottom: 25px;
  text-align: center;
}

.shop-catalog .column .product .product-image img {
  width: auto;
  height: auto;
  max-height: 300px;
  max-width: 100%;
}

html.js .shop-catalog .column .post-split.bottom .post-back-inner {
  padding-top: 40px;
}

html.js .shop-catalog .column .post-split.bottom .product-excerpt {
  margin-top: 28px;
}
html.no-js .shop-catalog .column .post-split.bottom .product-price,
html.no-js .shop-catalog .column .post-split.bottom .product-title {
  display: none;
}


/** Product title **/
.shop-catalog .column .product-title a {
  color: inherit;
  text-transform: uppercase;
}

.shop-catalog .column .product-price .price > * {
  display: inline-block;
}


/** Product Price **/
.shop-catalog .column .product-rating .star-rating:before {
  content: "sssss";
  float: left;
  left: 0;
  position: absolute;
  top: 0;
}

.shop-catalog .column .product-rating .star-rating {
  float: none;
  display: inline-block;
  font-family: star;
  font-size: 1em;
  height: 1em;
  line-height: 1;
  overflow: hidden;
  position: relative;
  width: 5.4em;
}

.shop-catalog .column .product-rating .star-rating span:before {
  content: "SSSSS";
  left: 0;
  position: absolute;
  top: 0;
}

.shop-catalog .column .product-rating .star-rating span {
  float: left;
  left: 0;
  overflow: hidden;
  padding-top: 1.5em;
  position: absolute;
  top: 0;
}

/** Add to cart button **/
#page .shop-catalog .column .product-cart .add_to_cart_button {
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
  cursor: pointer;
  box-shadow: none;
  display: inline-block;
  left: auto;
  line-height: 1;
  margin: 15px 0 0;
  overflow: visible;
  padding: 10px 10px;
  position: relative;
  text-decoration: none;
  text-shadow: none;
  white-space: nowrap;
  text-transform: uppercase;
}

#page .shop-catalog .product-template-simple .product-cart .add_to_cart_button,
#page .shop-catalog .product-template-normal .product-cart .add_to_cart_button,
#page .shop-catalog .template-shop-grid .product-cart .add_to_cart_button {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

#page .shop-catalog .column .product-cart .add_to_cart_button.loading {
  padding-right: 35px;
}

#page .shop-catalog .column .product-cart .added_to_cart {
  margin-left: 10px;
}

.woocommerce .woocommerce-ordering select {
  padding: 8px;
}

#page .catalog-sorter-count {
  margin-bottom: 20px;
}

/** Flip mode button **/
#page .shop-catalog .column .button-groups {
  vertical-align: middle;
}

#page .button-groups .added_to_cart.wc-forward,
#page .shop-catalog .column .button-groups .teaser-button {
  display: inline-block;
  margin-right: 10px;
  border-radius: 100%;
  border: none;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
}


#page .shop-catalog .column .button-groups .add_to_cart_button.loading {
  padding: 0;
  -webkit-animation-name: pulsating;
  animation-name: pulsating;
  -webkit-animation-duration: 2s;
  animation-duration:1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  opacity: 0.6;
}

#page .button-groups .add_to_cart_button.loading:after {
  display: none;
}

#page .button-groups .add_to_cart_button.added:after {
  border-radius: 100%;
  font-size: 8px;
  height: 24px;
  line-height: 19px;
  position: absolute;
  right: -9px;
  text-align: center;
  top: -5px;
  vertical-align: middle;
  width: 24px;
}

#page .shop-catalog .button-groups .added_to_cart.wc-forward {
  margin-left: 0;
  position: relative;
  text-indent: -9999px;
}

#page .shop-catalog .button-groups .added_to_cart.wc-forward:after {
  content: '\f07a';
  display: block;
  font-family: fontawesome;
  height: 50px;
  left: 0;
  line-height: 50px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  text-indent: 0;
  top: 0;
  vertical-align: middle;
  width: 50px;
}



@-webkit-keyframes pulsating {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.8;
  }
  50% {
    -webkit-transform: scale(1.3, 1.3);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes pulsating {
  0% {
    transform: scale(1, 1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.3, 1.3);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}




/**
  Product Single
  Product display contains product summary and product image
  **/
.shop-single {
  margin-bottom: 80px;
  padding-bottom: 40px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.shop-single .fotorama__fullscreen-icon {
  display: none;
}

.shop-single .product-summary > * {
  margin-bottom: 25px;
}

.shop-single .product-summary > *:empty {
  display: none;
}

.shop-single .product-title h1 {
  font-size: 28px;
}

.shop-single.sale  .title-row {
  padding-right: 100px;
  position: relative;
}

.shop-single .title-row {
  margin-bottom: 0;
}

.shop-single span.onsale {
  border-radius: 0;
  display: block;
  left: auto;
  line-height: 120%;
  min-height: 1px;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: -7px;
  vertical-align: middle;
  width: auto;
}


.shop-single .product-rating .star-rating {
  margin: 6px 6px 0 0;
}

.shop-single .product-meta {
  margin-bottom: 11px;
  padding: 5px 0;
}

.shop-single .product-meta .meta-header {
  width: 29%;
  display: inline-block;
  font-weight: bold;
}

.shop-single .product-meta td.meta-header {
  display: table-cell;
}

.shop-single .product-meta .meta-content {
  width: 70%;
  display: inline-block;
  font-weight: normal;
}


.shop-single .product-meta .meta-half {
  width: 49%;
  display: inline-block;
}

.shop-single .product-excerpt {
  padding: 10px 0;
}

.shop-single .product-excerpt > * > p:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.shop-single .product-price del {
  display: inline-block;
  line-height: 110%;
}

.shop-single .product-has-variation .product-price del {
  margin-bottom: 10px;
}

.shop-single .product-price ins {
  display: inline-block;
  line-height: 110%;
  text-decoration: none;
}


.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
}

.woocommerce #page .single_add_to_cart_button {
  padding: 13px 47px;
  text-transform: none;
  font-weight: bold;
  margin-top: 21px;
}

/**
  Tight form
  **/
.shop-single .product-cart select,
.shop-single .product-cart textarea,
.shop-single .product-cart input[type="text"],
.shop-single .product-cart input[type="password"],
.shop-single .product-cart input[type="datetime"],
.shop-single .product-cart input[type="datetime-local"],
.shop-single .product-cart input[type="date"],
.shop-single .product-cart input[type="month"],
.shop-single .product-cart input[type="time"],
.shop-single .product-cart input[type="week"],
.shop-single .product-cart input[type="number"],
.shop-single .product-cart input[type="email"],
.shop-single .product-cart input[type="url"],
.shop-single .product-cart input[type="search"],
.shop-single .product-cart input[type="tel"],
.shop-single .product-cart input[type="color"],
.shop-single .product-cart .uneditable-input {
  padding: 10px 16px;
}


.shop-single .product-cart .value {
  padding-top: 12px;
}

.shop-single .product-cart .reset_variations {
  font-size: 13px;
  display: block;
}

.shop-single .product-cart .variations_button,
.shop-single .product-cart .single_variation {
  display: inline;
}

.shop-single .product-cart .reset_variations:empty,
.shop-single .product-cart .single_variation:empty {
  display: none;
}

.shop-single .product-cart .single_variation del {
  margin-right: 8px;
}

.shop-single .product-cart .single_variation ins {
  text-decoration: none;
}

#page .shop-single .product-cart input {
  padding: 10px 15px;
  margin-right: 10px;
  min-width: 50px;
  max-width: 100px;
  width: auto;
}

#page .shop-single .product-cart td {
  padding-left: 0;
  padding-right: 0;
  background: none !important;
}


.shop-single .product-sharing {
  margin-top: 40px;
}

.shop-single .fotorama__nav {
  background-color: transparent;
}

/**
  Product Single Description and reviews
  **/
#product-tabs ul.tabs {
  padding: 0;
  text-align: center;
  margin-bottom: 60px;
}

#product-tabs ul.tabs li {
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  margin-right: 10px;
  margin-bottom: 10px;
}

#product-tabs ul.tabs li a {
  color: inherit !important;
  padding: 7px 30px;
  display: block;
}

#product-tabs .panel {
  border-radius: 0;
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background: transparent;
  box-shadow: none;
  margin-bottom: 60px;
  padding-bottom: 50px;
}

#page #product-tabs .star-rating {
  float: none;
  position: relative;
  display: inline-block;
}

#page #product-tabs #wooraty-placeholder i {
  font-size: 22px;
}

table.shop_attributes > tbody > tr:nth-child(2n+1) > td {
  background-color: transparent;
}

#page #product-tabs table.shop_attributes,
#page #product-tabs table.shop_attributes th,
#page #product-tabs table.shop_attributes td {
  border-style: solid;
  border-width: 1px;
  font-style: normal;
  padding: 10px 20px;
  text-transform: none;
}

#page.woocommerce table.shop_attributes td p {
  padding: 0;
}

#page #product-tabs #post-comment-form {
  margin-top: 50px;
}

/**
  Product related
  **/
#product-related {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 60px;
  padding-bottom: 50px;
}
#product-related .comment-title h1,
#product-related .comment-title {
  margin-bottom: 30px;
}

/**
  Product upsell
  **/
#product-upsell {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 60px;
  padding-bottom: 50px;
}
#product-upsell .comment-title h1,
#product-upsell .comment-title {
  margin-bottom: 30px;
}

.product-display #content > *:last-child {
  margin-bottom: 0;
  border-bottom-width: 0;
}


/**
  Product detail grid mode
  **/
.product-template-detail {
  text-align: left !important;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
}

.product-template-detail:hover .product-image {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.product-template-detail .product-image {
  transition: all ease-out 0.7s;
  -webkit-transition: all ease-out 0.7s;
  margin: 0;
}

.product-template-detail .product-row {
  width: 200%;
  transition: all ease-in 0.7s;
  -webkit-transition: all ease-in 0.7s;
}

.product-template-detail .product-row:hover {
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.product-template-detail .excerpt-column {
  padding: 40px;
}

.product-template-detail .product-excerpt {
  display: table;
  vertical-align: middle;
}

.product-template-detail .centering {
  display: table-cell;
  vertical-align: middle;
}

.product-template-detail .price-row {
  padding: 40px 60px 20px 20px;
  border-top: 1px solid inherit;
  position: relative;
  margin-bottom: 0 !important;
}

.product-template-detail .product-cart {
  position: absolute;
  top: 36px;
  right: 6px;
  width: 60px;
  height: 60px;
}

#page .shop-catalog .product-template-detail .product-cart .add_to_cart_button {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
}

#page .shop-catalog .product-template-detail .product-cart .add_to_cart_button.added:after {
  margin: 0;
}

#page .shop-catalog .product-template-detail .product-cart .add_to_cart_button.loading:after {
  right: 11px;
  top: 10px;
}

#page .shop-catalog .product-template-detail .product-cart .add_to_cart_button.loading i,
#page .shop-catalog .product-template-detail .product-cart .add_to_cart_button.added i {
  display: none;
}

#page .shop-catalog .product-template-detail .product-cart .added_to_cart {
  border-radius: 60px;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  margin: 0;
  padding: 9px 20px;
  position: absolute;
  right: 20px;
  text-transform: uppercase;
  top: -53px;
}

#page .shop-catalog .product-template-detail .onsale {
  border-radius: 60px;
  top: -17px;
}
