/**
  Shopping Pages
  **/
#page .shop-pages .cart_totals > h2,
#page .shop-pages .cart-title {
  font-size: 23px;
  margin-bottom: 40px;
  text-transform: uppercase;
}


#page .shop-pages #content > .woocommerce {
  margin-top: 50px;
}

#page .shop-pages * {
  border-color: inherit;
}

#page .shop-pages .shop_table {
  border-radius: 0;
  margin-bottom: 100px;
}


#page .shop-pages .shop_table th {
  padding: 10px;
  border-bottom-width: 1px;
  border-top-width: 0;
}
#page .shop-pages .shop_table td {
  padding: 10px 20px;
  border-top-width: 0;
}


#page .shop-pages .shop_table .actions {
  text-align: right !important;
}

#page .shop-pages .shop_table .actions .coupon {
  float: left !important;
}

#page .shop-pages .shop_table .actions #coupon_code {
  border-radius: 0;
  margin-right: 10px;
  padding: 16px;
  width: auto;
}

#page .shop-pages .shop_table .actions .button {
  padding: 14px 30px;
  display: inline-block !important;
  width: auto !important;
  border-radius: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

#page .shop-pages .shop_table .product-remove {
  text-align: center !important;
}

#page .shop-pages .shop_table .product-remove a {
  display: inline-block;
}

#page .shop-pages .shop_table input {
  min-width: 90px;
}

#page table.cart img {
  width: 80px;
}

#page .shop-pages .cart_totals {
  padding: 0 0 0 30px;
}

#page .shop-pages .cart_totals table {
  border-width: 1px;
  border-style: solid;
}

#page .shop-pages .cart_totals th,
#page .shop-pages .cart_totals td {
  padding: 20px ;
  border-top-width: 0;
}

#page .shop-pages .cart_totals tbody > tr:last-child > * {
  border-bottom-width: 0;
}

#page .shop-pages #place_order,
#page .wc-proceed-to-checkout a.checkout-button {
  display: inline-block;
  padding: 14px 30px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

/**
  Checkout page
  **/
#page .shop-pages #order_review_heading,
#page .shop-pages .woocommerce-billing-fields > h3,
#page .shop-pages .woocommerce-shipping-fields > h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
#page .shop-pages .col2-set .col-1 {
  padding-right: 30px;
}

#page .shop-pages .col2-set .col-2 {
  padding-left: 30px;
}

#page .shop-pages label[for="ship-to-different-address-checkbox"] {
  margin-left: 9px;
}

#page .shop-pages #ship-to-different-address-checkbox {
  display: block;
  margin-left: 5px;
  margin-top: -26px;
}

#page .shop-pages #shipping_address_3,
#page .shop-pages #billing_address_3,
#page .shop-pages #shipping_address_2,
#page .shop-pages #billing_address_2 {
  margin-top: 10px;
}

#page .shop-pages p.form-row {
  padding: 0;
  margin: 0;
}

#page .form-row.jvFloat {
  overflow: hidden;
}

#page .form-row.jvFloat > * {
  position: relative;
  z-index: 2;
}

html.no-js #page .form-row.jvFloat > label {
  margin: 10px 0;
}

html.js #page .form-row > label {
  position: relative;
  top: 100%;
  z-index: -1;
  height: 0;
  opacity: 0;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
}

html.js #page .form-row.jvFloat.active > label {
  top: 0;
  height: auto;
  z-index: 1;
  opacity: 1;
  margin: 15px 0 5px;
}

#page .shop-pages #customer_details {
  margin-bottom: 50px;
}

#page .shop-pages .woocommerce-checkout-review-order-table,
#page .shop-pages .woocommerce-checkout-payment {
  padding: 15px 30px;
}
#page .shop-pages .woocommerce-checkout-payment {
  background: transparent !important;
}

#page .shop-pages .woocommerce-checkout-review-order:after {
  display: block;
  content: '';
  clear: both;
}

#page .shop-pages .woocommerce-checkout-review-order-table {
  padding: 0;
  border-width: 1px;
  border-style: solid;
}

#page .shop-pages .woocommerce-checkout-review-order-table th {
  border-bottom-width: 1px;
  padding: 17px 20px;
}

#page .shop-pages .woocommerce-checkout-review-order-table td {
  padding: 17px 20px;
}

#page .shop-pages .payment_methods > li > label {
  display: inline-block;
}

#page .shop-pages .payment_methods > li > input {
  vertical-align: middle;
}

#page .shop-pages .shop-message {
  margin-top: 0;
  margin-bottom: 50px;
}

#page .shop-message ul {
  margin-left: 0;
  padding-left: 0;
}

#page .shop-message ul li {
  list-style: none
}

#page .shop-message .btn {
  margin-right: 10px;
  margin-left: 10px;
  background: transparent !important;
  font-weight: bold;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
  line-height: inherit;
  text-transform: none;
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
}

.woocommerce-checkout #page  #payment div.form-row {
  padding: 15px 0;
}

.woocommerce-checkout #page #payment .payment_method_paypal .about_paypal {
  margin-left: 10px;
}

/**
  Order recieved
  **/
#page .shop-pages ul.order_details {
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  background-color: #fff;
}

#page .shop-pages ul.order_details li {
  padding: 30px 20px;
  text-transform: none;
  margin: 0;
}

#page .shop-pages ul.order_details li strong {
  margin-top: 4px;
}

#page .shop-pages #content > .woocommerce > .col2-set.addresses,
#page .shop-pages #content > .woocommerce > header,
#page .shop-pages #content > .woocommerce > h2 {
  margin-top: 80px;
  margin-bottom: 40px;
}

#page .shop-pages #content > .woocommerce > header > h2,
#page .shop-pages #content > .woocommerce > h2 {
  font-size: 18px;
  text-transform: uppercase;
}

#page .shop-pages #content > .woocommerce header > h3 {
  font-size: 16px;
  text-transform: uppercase;
}

#page .shop-pages .woocommerce header.title {
  margin-bottom: 30px;
}

#page .shop-pages * {
  border-color: inherit;
}

#page .shop-pages .woocommerce .shop_table tr,
#page .shop-pages .woocommerce .shop_table {
  font-size: 14px;
  border-radius: 0;
  border-width: 0;
  border-color: inherit;
  border-collapse: collapse;
}

#page .shop-pages .woocommerce .shop_table th,
#page .shop-pages .woocommerce .shop_table td {
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  font-size: 14px;
}

/** My Account **/
.woocommerce-account #page .shop-pages .button {
  padding: 10px 15px;
}

/** Sorter element **/
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
  border-color: inherit;
}

/**
  Woo Modal
  **/
#page .shop-pages .blockUI,
#page .blockUI.blockOverlay {
  display: none !important;
}

/**
  Button
  **/
#page .woocommerce .button {
  padding: 20px 30px;
  display: inline-block !important;
  width: auto !important;
  border-radius: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}