/**
  Top rated products
  
  Default woocommerce template
  **/
#page .product_list_widget li {
  margin-bottom: 40px;
}

#page .product_list_widget .star-rating {
  margin-top: 6px;
}

#page .woocommerce ul.cart_list li img,
#page .woocommerce ul.product_list_widget li img {
  width: 85px;
  float: left;
  margin-left: 0;
  margin-right: 20px;
}

/**
  Product Categories
  
  Default woocommerce template
  **/
.widget_product_categories ul li {
  padding-bottom: 27px;
  padding-left: 22px;
  position: relative;
  line-height: 150%;
}

.widget_product_categories ul li:before {
  content: '\f0c8';
  display: block;
  font-family: fontawesome;
  color: #e3e3e3;
  position: absolute;
  left: 3px;
  top: 1px;
  font-size: 10px;
}

.widget_product_categories ul ul {
  padding: 0;
}

.widget_product_categories ul ul li {
  padding-bottom: 15px;
}


/**
  Mini Cart
  These styles requires modified version of the
  mini shopping cart template
  **/
html .woocommerce .widget_shopping_cart .cart_list li,
html .woocommerce.widget_shopping_cart .cart_list li {
  padding-left: 0;
  padding-right: 20px;
  border-bottom: none;
}

html .cart_list a.remove {
  left: auto !important;
  right: 0;
}

html .woocommerce .widget_shopping_cart .total,
html .woocommerce.widget_shopping_cart .total {
  border-top: none;
}

#page .widget_shopping_cart_content .buttons .button {
  padding: 10px 15px;
  margin-right: 10px;
}

/**
  Price Filters
  **/
#page .widget_price_filter .price_slider_amount input {
  margin-bottom: 10px;
}

#page .widget_price_filter .price_slider_amount button {
  padding: 10px 15px;
  margin-right: 10px;
}

/**
  Filters
  **/
.woocommerce .widget_layered_nav ul .count:after {
  background: inherit;
  content: "";
  display: block;
  height: 6px;
  left: -3px;
  margin-top: -3px;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  width: 6px;
}

.woocommerce .widget_layered_nav ul .count {
  border-radius: 4px;
  margin-left: 10px;
  padding: 4px 7px 5px;
  position: relative;
  background-color: #999;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: normal;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px 5px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  top: -3px;
  font-family: arial,verdana,serif;
}

.woocommerce .widget_layered_nav_filters ul li,
.woocommerce .widget_layered_nav ul li {
  padding-bottom: 7px;
}

.woocommerce .widget_layered_nav_filters ul li a:before,
.woocommerce .widget_layered_nav ul li.chosen a:before {
  font-size: 14px;
  left: 1px;
  margin-right: 10px;
  position: relative;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}

/**
  Recent reviews
  **/
.product_list_widget .reviewer {
  margin-top: 5px;
  font-size: 13px;
  display: block;
}