/**
  Members related element styling including :
  1. Member single page
  2. Member grid items
  3. Member Archives
  4. Members Table
  5. Members Founder Template
  6. Members Doctors Template
  7. Members Circle Template
  **/


/**
  Member Archive
  **/
.members-archive-title {
  margin-bottom: 40px;
}

.members-archive-description {
  margin-bottom: 80px;
}

/**
  Member grid
  **/
#page .post-members-teasers .post-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
}

.post-members-teasers .member-speciality {
  font-size: 14px;
  font-weight: 600;
}

/**
  Members single
  **/
.members .post-header-title {
  font-weight: 700;
  font-size: 24px;
}

.members-speciality {
  text-transform: capitalize;
}

.member-profile-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 15px;
}

.member-profile-value {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 15px;
}

.members-profiles {
  margin-bottom: 15px;
}

/**
  Members table
  **/
.members-table {
  margin: 20px 0 90px;
  vertical-align: top;
}

#page .members-table th,
#page .members-table td {
  padding: 18px;
}


.members-table .post-content,
#page .members-table .post-title {
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: normal;
  padding: 0;
}

.members-experiences-description,
.members-education-description {
  width: 70%;
}

.members-experiences-duration,
.members-education-duration {
  width: 30%;
}

.members-services-service {
  width: 45%;
}

.members-services-days {
  width: 15%;
  text-transform: capitalize;
}

.members-services-time {
  width: 25%;
}

.members-services-location {
  width: 15%;
  text-transform: capitalize;
}

/**
  Members founder template
  **/
#page .slick-items > .members-founders-template {
  padding: 0 15px;
}

#page .members-founders-template .post-title {
  font-size: 23px;
  margin-bottom: 7px;
}
.members-founders-template figure.post-thumbnail {
  margin-bottom: 0;
}

.members-founders-template .post-thumbnail-link {
  margin-bottom: 20px;
}

/**
  Members doctors template
  **/
.slick-carousel.members-doctors .post-teasers {
  margin-bottom: 0;
}

.slick-carousel.members-doctors .post-inner {
  background-color: #fff;
  height: 50%;
  padding: 40px;
  position: absolute;
  width: 380px;
  z-index: 3;
  top: 0;
  transition: all ease-in 0.6s;
  -webkit-transition: all ease-in 0.6s;
}

.slick-carousel.members-doctors .right-side,
.slick-carousel.members-doctors .left-side {
  padding: 0;
}

.slick-carousel.members-doctors .left-side {
  position: relative;
  z-index: 1;
}

.slick-carousel.members-doctors .post-thumbnail,
.slick-carousel.members-doctors .right-side {
  height: 690px;
  margin-bottom: 0;
}

.slick-carousel.members-doctors .post-thumbnail-link {
  margin-bottom: 0;
}

.slick-carousel.members-doctors .right-side {
  width: 190px;
  position: relative;
  overflow: visible;
  z-index: 2;
}

.slick-carousel.members-doctors .slick-items:hover {
  position: relative;
  z-index: 2;
}

.slick-carousel.members-doctors .slick-items:nth-child(odd) .left-side {
  margin-right: 190px;
}
.slick-carousel.members-doctors .slick-items:nth-child(even) .left-side {
  margin-left: 190px
}

.slick-carousel.members-doctors .slick-items:nth-child(odd) .right-side {
  float: right;
}

.slick-carousel.members-doctors .slick-items:nth-child(even) .right-side {
  float: left;
}

#page .slick-carousel.members-doctors .slick-items:nth-child(odd) .post-inner {
  left: 0;
  border-right: 8px solid #fff;
}

#page .slick-carousel.members-doctors .slick-items:nth-child(odd) .post-inner:hover,
#page .slick-carousel.members-doctors .slick-items:nth-child(odd):hover .post-inner {
  box-shadow: -3px 5px 19px #ccc;
  border-right: 8px solid #3dc5df;
}

#page .slick-carousel.members-doctors .slick-items:nth-child(even) .post-inner {
  top: 50%;
  right: 0;
  border-left: 8px solid #fff;
}

#page .slick-carousel.members-doctors .slick-items:nth-child(even) .post-inner:hover,
#page .slick-carousel.members-doctors .slick-items:nth-child(even):hover .post-inner {
  box-shadow: 6px 5px 19px #ccc;
  border-left: 8px solid #3dc5df;
}

.slick-carousel.members-doctors .slick-items .right-side:after {
  width: 0;
  height: 0;
  display: block;
  content: '';
  top: 25%;
  margin-top: -15px;
  position: absolute;
  z-index: 4;
  border-style: solid;
  border-width: 0 30px 30px 0;
  border-color: transparent #fff transparent
}

.slick-carousel.members-doctors .slick-items:nth-child(odd) .right-side:after {
  left: -29px;
}


.slick-carousel.members-doctors .slick-items:nth-child(even) .right-side:after {
  border-color: #fff transparent transparent;
  border-width: 30px 30px 0 0;
  right: -29px;
  top: 75%
}


#page .slick-carousel.members-doctors .post-title {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 10px;
  display: table;
}

#page .slick-carousel.members-doctors .teaser-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


#page .slick-carousel.members-doctors .members-speciality {
  margin-bottom: 10px;
}

#page .slick-carousel.members-doctors .member-profile-value {
  margin-bottom: 0;
}

#page .slick-carousel.members-doctors .members-profiles {
  margin-bottom: 10px;
}

.slick-advanced-carousel .slick-thumb .slick-items {
  opacity: 0.7;
  transition: all ease-in 0.4s;
  -webkit-transition: all ease-in 0.4s;
}

.slick-advanced-carousel .slick-thumb .slick-items:hover {
  opacity: 1;
}


/**
  Member Circle Template
  **/
.members-circle-template {
  text-align: center;
}

.members-circle-template .post-thumbnail-link {
  margin-bottom: 20px;
  display: inline-block;
}

.members-circle-template .post-thumbnail {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  text-align: center;
  display: inline-block;
}


.members-circle-template .slick-next,
.members-circle-template .slick-prev {
  display: inline-block !important;
  margin-top: 54px;
}

#page .members-circle-template .slick-arrows {
  background: transparent !important;
  border-radius: 60px;
  width: 30px;
  height: 30px;
  line-height: 39px;
  border-width: 1px;
  border-style: solid;
  border-width: 1px;
  color: #fff !important;
}

.members-circle-template .post-inner {
  padding: 0;
}

#page .members-circle-template .post-inner .post-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

#page .members-circle-template .post-inner .post-title a {
  color: #fff;
}

.members-circle-template .member-position {
  color: #fff;
  font-weight: light;
}

.slick-centermode .members-circle-template .post-thumbnail {
  margin-bottom: 0;
}

.slick-centermode .members-circle-template .post-thumbnail-link {
  border-width: 2px;
  border-style: solid;
  border-color: transparent !important;
  border-radius: 140px;
  padding: 8px;
  width: 140px;
  height: 140px;
  transition: all ease-in 1s;
  -webkit-transition: all ease-in 1s;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}

.slick-centermode .slick-center .members-circle-template .post-thumbnail-link {
  border-color: #a7dded !important;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.slick-centermode .members-circle-template .post-inner {
  transition: all ease-in 1s;
  -webkit-transition: all ease-in 1s;
  transform: scale(0);
  -webkit-transform: scale(0);
}

.slick-centermode .slick-center .members-circle-template .post-inner {
  transform: scale(1);
  -webkit-transform: scale(1);
}


/**
  Members Education List
  **/
.members-table-listing {
  margin-top: 10px;
  padding: 15px;
  clear: both;
}

.members-table-row {
  border-width: 1px;
  border-style: solid;
  margin-bottom: 30px;
}

.members-table-listing .members-column-title {
  padding: 30px;
}

.members-table-listing .members-description,
.members-table-listing .members-time {
  padding: 30px;
}

