/**
  Extra styling for responsive purposes
  This style supports width stops on
  -480px, -768px, +992px and +1200px 
  **/

/** For super small phone **/
@media (max-width: 360px) {

  #page .post-content .post-thumbnail {
    width: 360px;
  }

}

/** For small mobile phone and iPhone < version 4 **/
@media (max-width: 480px) {

  .hidden-xxs {
    display: none;
  }

  [class*="col-"] {
    width: 100%;
    float: left;
  }

  [class*="push-"] {
    left: 0;
  }

  #header #logo {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #page #header #logo img {
    max-height: 40px;
    width: auto;
    max-width: auto;
    height: auto;
  }

  #page #header .js-isotope {
    height: auto !important;
  }

  #page #header #logo {
    position: static !important;
  }

  #page #header .home-link {
    margin-right: 0;
  }


  body #page .site-description {
    display: none;
  }

  #page .area {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  [class*="col-xs-offset-"] {
    margin-left: 0 !important;
  }

  #page #slider .widget {
    width: 100% !important;
  }

  #page .wpb_tabs.tabs-open-style .wpb_tabs_nav > li {
    border-bottom: 1px solid #bcc8d5;
    border-right: none;
    width: 100%;
  }

  #page .wpb_tabs.tabs-open-style .wpb_tabs_nav > li:last-child {
    border: none;
  }


  #header .vertical-target {
    margin: 0 !important;
    text-align: center;
  }


  body.admin-bar .wrapper-sticky {
    height: auto !important;
  }

  body.admin-bar .wrapper-sticky.sticky-active #header {
    margin-top: 0 !important;
  }

  html body .zoomContainer {
    display: none !important;
  }


  html.js body #toTop  {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    right: 20px !important;
  }

  html.js body #toTop #toTopHover  {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 30px;
  }


  html #page #commentform .form-submit #submit {
    border-radius: 36px;
    font-size: 14px;
    padding: 12px 20px;
  }

  /** Headline **/
  #page #headline .headline-title {
    font-size: 22px;
  }

  #page #headline .headline-subtitle {
    font-size: 14px;
    line-height: 24px;
  }

  #headline .headline-content:after {
    width: 100%;
  }


  /** Posts **/
  #page .post-title {
    font-size: 18px;
    line-height: 20px;
    display: block;
  }

  #page .post-content .post-thumbnail {
    margin-left: -55px;
    margin-right: -55px;
    width: 480px;
  }

  #page .label.label-tags {
    margin-left: 0;
    margin-top: 30px;
  }

  #page .post-social .post-social-text {
    display: none;
  }

  #page .post-social .social-links {
    width: 100%;
    text-align: center;
  }

  #page .post-pagination .page-links {
    text-align: center;
    width: 45%;
  }

  #page .post-pagination .page-links span {
    display: none;
  }

  #page .post-pagination .page-links i {
    border: none;
  }

  #page .custom-blog-grid .post-meta {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  .woocommerce-page table.shop_table,
  .woocommerce-page table.shop_table.cart thead,
  .woocommerce-page table.shop_table.cart tbody,
  .woocommerce-page table.shop_table.cart th,
  .woocommerce-page table.shop_table.cart td,
  .woocommerce-page table.shop_table.cart tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .woocommerce-page table.shop_table.cart thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .woocommerce-page table.shop_table.cart td {
    /* Behave like a "row" */
    position: relative;
    padding-left: 35% !important;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom-width: 0;
  }

  .woocommerce-page table.shop_table.cart {
    border: none;
  }

  .woocommerce-page table.shop_table.cart td.product-spacer {
    height: 10px;
  }

  .woocommerce-page table.shop_table.cart td:before {
    left: 16px;
    padding-left: 0;
    padding-right: 10px;
    position: absolute;
    top: 20px;
    white-space: nowrap;
    width: 25%;
  }

  /*
  Label the data
  */
  .woocommerce-page table.shop_table.cart td.product-remove:before {
    content: "DELETE";
    left: 0;
  }

  .woocommerce-page table.shop_table.cart td.product-thumbnail:before {
    content: "IMAGE";
  }

  .woocommerce-page table.shop_table.cart td.product-name:before {
    content: "PRODUCT";
  }

  .woocommerce-page table.shop_table.cart td.product-price:before {
    content: "PRICE";
  }

  .woocommerce-page table.shop_table.cart td.product-quantity:before {
    content: "QUANTITY";
  }

  .woocommerce-page table.shop_table.cart td.product-subtotal:before {
    content: "SUBTOTAL";
  }

  .woocommerce-page table.shop_table.cart td.product-total:before {
    content: "TOTAL";
  }

  .woocommerce .quantity,
  .woocommerce #content .quantity,
  .woocommerce-page .quantity,
  .woocommerce-page #content .quantity {
    margin: 0;
  }

  .woocommerce-page table.cart td.actions,
  .woocommerce-page #content table.cart td.actions {
    text-align: left;
    border:0;
    padding-left: 6px !important;
  }

  .woocommerce-page table.cart td.actions .button.alt,
  .woocommerce-page #content table.cart td.actions .button.alt {
    float: left;
    margin-top: 10px;
  }

  .woocommerce-page table.cart td.actions,
  .woocommerce-page #content table.cart td.actions {
    border: 0 none;
    padding-left: 20px !important;
    text-align: center !important;
  }

  #page .shop-pages .shop_table.cart .actions #coupon_code {
    text-align: center;
    width: 100% !important;
    margin-bottom: 20px;
  }

  #page .shop-pages .shop_table.cart .actions .button {
    float: none !important;
  }

  #page .shop-pages .shop_table.customer_details > tbody > tr:last-child > * {
    border-bottom-width: 1px;
  }


  #page #content > .single .post-content {
    padding-left: 0;
    padding-right: 0;
  }

  /** VC @Theme staff carousel block **/
  /**#page .staff-carousel-block .staff-carousel-text-block {
    margin-left: 0 !important;
    width: 100% !important;
  }

  #page .staff-carousel-block .slick-items {
    background-position: 50% 50% !important;
    background-size: auto 100% !important;
  }

  #page .staff-carousel-block .post-social {
    text-align: center !important;
  }

  #page .staff-carousel-block .post-button {
    float: none !important;
  }

  #page .staff-carousel-block .post-content {
    text-align: center !important;
  }**/


  /** Generic class for resizing large text **/
  #page .xs-small-heading {
    font-size: 26px !important;
  }


  /**
  Fullpage visualplus
  **/
  .js-fullscreen {
    height: auto !important;
    width: 100% !important;
  }

  .js-fullscreen.js-verticalcenter .js-verticaltarget {
    margin-top: auto !important;
  }


  /** Blog on masonry template **/
  #page .blog-masonry .horizontal-height .entry-wrapper {
    float: left;
    height: auto;
    width: 100%;
  }

  #page .text-xxs-center .vc_btn3-container,
  #page .text-xxs-center {
    text-align: center;
  }

  #footer-one {
    text-align: center;
  }

  #footer-three .widget {
    width: 100% !important;
    float: none;
    padding: 0;
    text-align: center;
  }

  #page .excerpt-column,
  #page .image-column {
    width: 50% !important;
  }

  .department-carousel-full .slick-items > .item .header-with-marker-stripe {
    font-size: 25px !important;
  }

  #page .blog-masonry,
  #page .blog-masonry .column,
  #page .blog-masonry .column .post-content {
    padding: 0;
    margin: 0;
  }

  #page .blog-masonry .post-image:after {
    display: none;
  }

  #page .blog-masonry .post-image {
    margin-left: -45px;
    margin-right: -45px;
    width: 200% !important;
  }

}

@media (min-width: 361px) and (max-width: 480px) {
}

/** For iPad in portrait mode **/
@media (max-width: 768px) {

  #page #header {
    min-height: auto;
  }

  body.admin-bar .wrapper-sticky.sticky-active #header {
    margin-top: 46px !important;
  }

  html body #page.sticky-off #header {
    margin-top: 0 !important;
  }

  #slider .widget {
    width: 100% !important;
  }

  /** Remove sidebar extra padding **/
  .col-xs-12.nopaddingleft,
  .col-sm-12.nopaddingleft {
    padding-right: 0;
  }

  .col-xs-12.nopaddingright,
  .col-sm-12.nopaddingright {
    padding-left: 0;
  }

  html #page.style-boxed {
    margin: 0;
    box-shadow: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
  }

  #page .area {
    padding-left: 0;
    padding-right: 0;
  }

  #page .region {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  #page #slider .container-fluid,
  #page #slider-region.row {
    padding: 0 !important;
    margin: 0 !important;
  }


  .woocommerce table.cart th,
  .woocommerce table.cart td,
  .woocommerce #content table.cart th,
  .woocommerce #content table.cart td,
  .woocommerce-page table.cart th,
  .woocommerce-page table.cart td,
  .woocommerce-page #content table.cart th,
  .woocommerce-page #content table.cart td,
  .woocommerce table.shop_table.cart th,
  .woocommerce-page table.shop_table.cart th,
  .woocommerce table.shop_table.cart td,
  .woocommerce-page table.shop_table.cart td {
    min-width: 30px;
  }

  #page .shop-pages .col2-set .col-1 {
    padding-right: 0 !important;
  }

  #page .shop-pages .col2-set .col-2 {
    padding-left: 0 !important;
  }

  #page .shop-pages .cart_totals {
    padding: 0 !important;
  }

  #page .woocommerce-checkout-payment {
    padding: 15px 0 !important;
  }

  #page .woocommerce-checkout #payment ul.payment_methods {
    padding: 0;
  }


  /** Slick nav support **/
  #page.with-slicknav #header > .container-fluid > .row {
    padding-right: 80px;
  }


  html.js #page.slicknav-open .header-background {
    opacity: 1 !important;
  }

  /**
    Main Content
    **/
  #page #maincontent > .container-fluid > .row {
    border-width: 0;
    margin-top: 0;
    padding-top: 30px;
  }

  #page #sidebar {
    border-top-width: 1px;
    border-top-style: solid;
  }


  /**
    Fotorama
    **/
  #page .fotorama__nav-wrap {
    bottom: 0 !important;
    position: relative !important;
  }


  #page .pull-top {
    margin-top: 0;
  }

  .header-with-marker-stripe:before {
    max-width: 80%;
  }

  /**
    Member Carousel
    **/
  .slick-carousel.members-doctors .post-inner {
    width: 80% !important;
    left: 0 !important;
    right: auto !important;
    bottom: 0 !important;
    top: auto !important;
  }

  .slick-carousel.members-doctors .right-side {
    width: 100% !important;
    position: absolute;
  }

  .slick-carousel.members-doctors .left-side {
    width: 100% !important;
    margin: 0 !important;
  }

  .slick-advanced-carousel .text-left > .slick-dots {
    text-align: center;
  }

  /** Department carousel full page **/
  #page .department-carousel-full .slick-items > .item {
    padding: 40px;
    height: auto;
  }

  /** blog on masonry template **/
  #page .blog-masonry .vertical-height .post-blog-teasers,
  #page .blog-masonry .horizontal-height .entry-wrapper,
  #page .blog-masonry .stamps,
  #page .blog-masonry .post-content {
    height: auto;
  }

  #page .blog-masonry .image-on-bottom .post-image,
  #page .blog-masonry .image-on-bottom .post-content {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  #page .blog-masonry .image-on-bottom .post-image:after {
    bottom: -16px;
    top: auto;
  }


  #footer-three .widget {
    width: 50%;
    float: left;
    padding: 15px;
  }

  /**
    Layer Slider
    **/
  #page .ls-slide .left-side {
    margin-left: 15% !important;
    max-width: 400px !important;
  }

  .ls-slide .scale-small {
    transform: scale(0.8) !important;
  }

  .ls-slide .button-side {
    margin-left: 69.5% !important;
  }

  .ls-slide .right-side {
    padding-left: 80% !important
  }

  #page .wpb_video_widget {
    margin-bottom: 40px !important;
  }

  #page #footer-two {
    border-right-width: 0;
  }

  #page #footer-three {
    border-top-width: 1px;
    border-top-style: solid;
  }
}

@media (min-width: 481px) and (max-width: 768px) {

}

/** For iPad in landscape mode and iPhone 5 in landscape mode **/
@media (min-width: 769px) {

}

/** iPhone 5 - Landscape **/
@media (min-width: 769px) and (max-width: 960px) {
  #page {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  #page .area {
    padding-left: 0;
    padding-right: 0;
  }

  #page.style-boxed {
    width: 900px;
    max-width: 900px;
    margin: 30px auto;
  }

  /** blog on masonry template **/
  #page .blog-masonry .vertical-height .post-blog-teasers,
  #page .blog-masonry .horizontal-height .entry-wrapper,
  #page .blog-masonry .stamps,
  #page .blog-masonry .post-content {
    height: auto;
  }

  #page .blog-masonry .image-on-bottom .post-image,
  #page .blog-masonry .image-on-bottom .post-content {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  #page .blog-masonry .image-on-bottom .post-image:after {
    bottom: -16px;
    top: auto;
  }

}

/** Small screen and high end mobile **/
@media (max-width: 1024px) {

}

/** For Small desktop **/
@media (min-width: 992px) {
  .max-fluid .container {
    width: 100%;
  }

  .col-md-12.nopaddingleft {
    padding-right: 0;
  }

  .col-md-12.nopaddingright {
    padding-left: 0;
  }
}

/** For laptop and normal desktop **/
@media (min-width: 1200px) {
  .max-960 .container {
    width: 960px;
  }

  .col-lg-12.nopaddingleft {
    padding-right: 0;
  }

  .col-lg-12.nopaddingright {
    padding-left: 0;
  }
}

/** For very large desktop monitor **/
@media (min-width: 1460px) {

  #page.fluid {
    max-width: 1400px;
    margin: 30px auto;
  }

}