/**
  Main Styling for DreamHome Theme
  
  @see schema/{selected schema}/css folders for the 
  CSS color rules. This file will only has CSS Rules
  for positioning, font and layout.
  
  
  1. Header Elements
  2. Logo Elements
  3. Navigation Menu Elements
  4. Header Sticky Elements
  5. Headline Elements
  6. Slider Elements
  7. Sidebar Elements
  8. Main content Elements
  9. Footer Elements
  10. Full Footer Elements
  11. Post related elements
  12. Comments related elements
  13. Page not found page
  14. Pagination elements
  15. Table Elements
  16. Slick Nav elements
  17. Search Form Elements
  18. Form Elements

  **/
* {
  word-wrap: break-word;
}

body {
  padding: 0 !important;
  font-size: 14px;
  font-family: "Open Sans", Tahoma, Arial, Verdana, Serif;
  font-weight: 300;
  min-height: 100%;
  overflow-x: hidden;
  line-height: 180%;
}

html {
  min-height: 100%;
}

html.no-js .animsition, .animsition-overlay {
  opacity: 1;
}

#page {
  overflow: hidden; /** Webkit fix **/
  height: auto;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-family: "Open Sans", serif;
  font-weight: 600;
  line-height: 1.1;
}

img,
.btn,
i,
a {
  outline: 0 !important;
  transition: all ease-out .3s;
  -webkit-transition: all ease-out .3s;
  -moz-transition: all ease-out .3s;
  -o-transition: all ease-out .3s;
  -ms-transition: all ease-out .3s;
}

a:focus,
a:hover {
  text-decoration: none;
}

.tight p {
  margin-bottom: 3px;
}

p {
  line-height: 160%;
  margin-bottom: 30px;
}

.clearboth {
  clear: both;
}

img {
  height: auto;
}

html.js.with-nicescroll {
  overflow: hidden;
}

.area {
  padding: 10px 20px;
  position: relative;
}

/** Bigger gutter for the main columns **/
.area > .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.area > .container-fluid > .row {
  margin-left: -30px;
  margin-right: -30px;
}

.area > .container-fluid > .row > .region {
  padding-left: 30px;
  padding-right: 30px;
}

.area.full-width > .container-fluid > .row > #content > .wp-loop {
  margin-left: -30px;
  margin-right: -30px;
}


/** HEADER **/
#header {
  padding-top: 0;
  padding-bottom: 0;
  z-index: 11;
  min-height: 74px;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
}

#header .region .vertical-target > * {
  padding-top: 15px;
  padding-bottom: 15px;
}

/** 
  Logo, Site Title and site description styling
  **/
#header .home-link {
  display: inline-block;
  margin-right: 15px;
  max-width: 100%;
  vertical-align: top;
  line-height: 110%;
}

#header .branding {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

#header .site-title {
  line-height: 105%;
  margin: 0 0 10px;
}

#header .site-description {
  line-height: 14px;
  margin: 0;
}

#header .region {
  padding-top: 20px;
  padding-bottom: 20px;
}

#header #logo {
  padding-top: 0;
  padding-bottom: 0;
}

#header #navigation {
  padding-top: 0;
  padding-bottom: 0;
}

#header #navigation .menu {
  line-height: 0;
}

#header > .container-fluid {
  z-index: 2;
}

#header-logo {
  padding-top: 40px;
  padding-bottom: 40px;
}

/** HEADLINE **/
html.no-js #headline {
  min-height: auto;
}


  /**
    Style for header main navigation and
    its dropdown.
    **/
#navigation ul.nav {
  margin-bottom: 0;
}

#navigation ul.nav > li {
  min-height: 80px;
  line-height: 79px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  outline: 0;
}

#navigation ul.nav > li > a {
  vertical-align: middle;
  padding: 0 25px;
  border-radius: 0 0;
  outline: 0;
  background: transparent;
  overflow: hidden;
  letter-spacing: 0.75px;
}

#navigation .nav-pills > li:hover > a,
#navigation .nav-pills > li > a:focus,
#navigation .nav-pills > li.active > a {
  outline: 0;
}

#navigation ul.nav a {
  position: relative;
  text-transform: uppercase;
}

#navigation ul.nav ul {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  opacity: 0;
  margin-top: 20px;
  display: block !important;
  visibility: hidden;
}


#navigation ul.nav > li ul.dropdown-menu {
  border-radius: 0;
  padding: 20px 10px;
  margin-left: 0;
  box-shadow: none;
  min-width: 200px;
  left: 0;
  text-align: left;
  border: none;
}

#navigation ul.nav > li ul.dropdown-menu ul.dropdown-menu {
  margin-left: 100%;
  box-shadow: none;
  top: 0;
}

#navigation ul.nav > li > ul.dropdown-menu a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 10px 20px;
}

#navigation ul.nav > li ul.dropdown-menu li a {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

#navigation ul.nav > li ul.dropdown-menu li:last-child a {
  border-bottom: none;
}

#navigation ul.nav > li li.menu-item-has-children > a {
  padding-right: 28px;
  position: relative;
}

#navigation ul.nav > li li.menu-item-has-children > a:after {
  content: "\f054";
  display: block;
  font-family: fontawesome;
  top: 11px;
  right: 6px;
  position: absolute;
}

/** Hover state **/
#navigation ul.nav li.menu-item-has-children:hover > ul {
  opacity: 1;
  margin-top: -1px;
  visibility: visible;
}

#navigation ul.nav > li.menu-item-has-children:hover > a {
  outline: 0;
}

#header.header-without-logo ul.nav,
#header.header-logo ul.nav,
#header.header-center-logo ul.nav {
  display: inline-block;
}

/** HEADER IN STICKY MODE **/
.wrapper-sticky {
  z-index: 120;
  transition: all ease .3s;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  -ms-transition: all ease .3s;
}

.wrapper-sticky > #header > .container-fluid > .row {
  transition: all ease .3s;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  -ms-transition: all ease .3s;
}

.wrapper-sticky > .sticky .header-background {
  opacity: 0.7;
}

body.admin-bar .wrapper-sticky > .sticky {
  margin-top: 30px;
}

/** Slick Nav **/
#page .slicknav_nav {
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}

#page .slicknav_nav li {
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  padding: 0;
}

#page .slicknav_nav ul {
  border-top-style: dashed;
  border-top-width: 1px;
}

#page .slicknav_nav li:last-child {
  border-bottom-width: 0;
}

#page .slicknav_menu a {
  border: none;
}

#page .slicknav_menu .slicknav_icon-bar {
  border-radius: 0;
  border-style: solid;
  border-width: 4px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

/** SLIDER **/
#slider .container-fluid,
#slider-region.row {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  max-width: 100%;
}

/** MAIN CONTENT **/
#maincontent {
  padding-top: 120px;
  padding-bottom: 120px;
}

.template-page-visualcomposer #maincontent {
  padding-top: 0;
  padding-bottom: 0;
}

#content.with-sidebar- {
  clear: both;
}

#maincontent * {
  border-color: inherit;
}

#page .with-sidebar-left {
  float: right;
}

/** SIDEBAR **/
#sidebar {
  line-height: 150%;
}

/** POSTFACE **/
#postface {
  padding-top: 75px;
  padding-bottom: 75px;
}

/** FOOTER **/
#footer {
  padding: 0;
}

#footer * {
  border-color: inherit;
}


#footer-one,
#footer-three {
  padding-top: 90px;
  padding-bottom: 60px;
}


#footer-two {
  border-color: inherit;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  padding: 40px 60px 60px;
}

/** FULL FOOTER **/
#full-footer {
  padding-top: 22px;
  padding-bottom: 26px;
}

#full-footer .region {
  margin-bottom: 0;
}
#full-footer .copyright {
  margin: 0;
}



/**
  Post Thumbnail Image
  **/
figure.post-thumbnail,
div.post-thumbnail {
  margin-bottom: 30px;
  text-align: center;
}

figure.post-thumbnail img,
div.post-thumbnail img {
  margin: 0 auto;
  float: none;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.post-thumbnail-link {
  display: table;
  position: relative;
  margin-bottom: 45px;
  max-height: 390px;
  width: 100%;
}

.post-thumbnail {
  height: 390px;
  width: 100%;
}

/** Generic Options **/
.zeus-main-loop > .column {
  margin-bottom: 30px;
}

/**
  Post teasers
  @see blog-teaser.php
  */
.post-teasers {
  display: block;
  z-index: 3;
  height: auto;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  margin: 0 0 60px;
}

.post-teasers .post-content {
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
}

.post-teasers .post-content::before {
  content: "";
  display: block;
  height: 32px;
  left: -30px;
  position: absolute;
  top: 50%;
  width: 32px;
  transform: rotate(45deg);
}

.post-teasers.even .post-image {
  float: right;
}

.post-teasers.even .post-content::before {
  left: auto;
  right: -30px;
}

/**
  Post teaser metro style
  **/
.blog-metro .post-teasers {
  position: relative;
  display: block;
  z-index: 3;
  height: 100%;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.blog-metro .post-teasers:before {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: inherit;
}

.blog-metro .post-teasers .multiple {
  height: 100%;
}

.blog-metro .post-teasers .post-thumbnail {
  z-index: 2;
  position: relative;
  margin: 0 0 20px;
  min-height: 358px;
}

/**
#page .blog-metro .post-teasers:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
}

#page .blog-metro .post-teasers.sticky:hover {
  opacity: 0.97
}
**/

.blog-metro .post-teasers * {
  border-color: inherit;
  max-width: 100%;
}

.blog-metro .post-teasers .post-date {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
  padding: 8px 15px;
}

.blog-metro .post-teasers .post-title {
  position: relative;
  word-wrap: break-word;
  margin: 0;
}

.blog-metro .post-teasers .post-content {
  z-index: 2;
  position: relative;
  word-wrap: break-word;
  padding: 20px;
}

/** Sticky version **/
.blog-metro .post-teasers.sticky {
  min-height: 500px;
}

.blog-metro .post-teasers.sticky .post-title {
  position: relative;
  border-color: inherit;
}

.blog-metro .post-teasers.sticky .post-title:after {
  bottom: 25px;
  width: 130px;
}

.blog-metro .post-teasers.sticky .post-content {
  position: absolute;
  bottom: 0;
  padding: 30px;
  z-index: 2;
  margin-top: 40px;
}

/** Padded mode **/
.blog-metro .post-teasers.padded .post-content {
  padding: 15px;
}

/** No Thumbnail **/
.blog-metro .post-teasers.no-thumbnail {
  padding-top: 60px;
}

/** Full width **/
.blog-metro .post-teasers.sticky.full-width {
  min-height: auto;
}

.blog-metro .post-teasers.sticky.full-width .post-content {
  position: relative;
  margin-top: 60px;
  width: 80%;
  bottom: 0;
}

.blog-metro .post-teasers .post-content:before {
  display: none;
}

/** Teasers elements **/
.teasers-archive-title {
  margin-bottom: 40px;
}

.teasers-archive-description {
  margin-bottom: 80px;
}

  /**
    Post Single
    **/
.post-single .post-thumbnail {
  margin-bottom: 50px;
  max-height: 370px;
  /**height: auto;**/
}

.post-single .post-thumbnail img {
  max-height: 370px;
  max-width: 100%;
  width: auto;
}

.page.single.has-post-thumbnail .post-content {
  padding-top: 0;
}

/**
  Post Header main title
  **/
.post-header-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 6px;
  line-height: 130%;
  word-wrap: break-word;
}

/**
  Post Title
  **/
.post-title {
  line-height: 130%;
  margin-bottom: 15px;
  word-wrap: break-word;
}

/**
  Post Content
  **/
.post-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

/**
  Post Tags & Social
  **/
.post-social-tags {
  padding: 20px 30px 15px;
  margin-bottom: 65px;
}

.post-social-tags h3 {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.post-social-tags .social-links {
  display: inline;
  margin-bottom: 0;
  vertical-align: top;
}

.post-social-tags .social-links a {
  display: block;
}

.post-social-tags .social-links .faplus {
  margin-right: 5px !important;
}
.post-social-tags .social-links .faplus-shape-round {
  padding: 0;
  font-size: 15px;
  vertical-align: top;
}

.post-social-tags .post-social-block {
  text-align: right;
}

.post-social > li {
  padding: 0 !important;
}

.post-social .faplus > .fa,
.post-social .faplus,
.post-social a {
  display: block;
  margin: 0 !important;
}

.post-social li {
  margin-right: 10px;
}

/**
  Post Excerpt
  **/
.post-excerpt {
  padding-top: 10px;
  padding-bottom: 30px;
}

.post-excerpt *:last-child {
  margin: 0;
}

/**
  Post Line
  **/
.post-line {
  width: 35px;
  height: 3px;
  display: inline-block;
  background: black;
}


/**
  Post by line
  **/
.post-by {
  margin-bottom: 10px;
  line-height: 130%;
}


/**
  Post readmore
  **/
.post-readmore.btn {
  border-width: 2px;
  border-style: solid;
  border-radius: 0;
  padding: 8px 25px;
  text-transform: none;
}


/**
  Post author
  **/
.post-author {
  margin-bottom: 60px;
}

.post-author .header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.post-author .content {
  margin-bottom: 25px;
}

.post-author .post-author-avatar {
  width: 172px;
  height: 172px;
  border-radius: 100%;
  margin-right: 30px;
}

/**
  Post section
  **/
.post-section {
  margin-bottom: 45px;
}

/**
  Post Social
  **/
#page .post-social ul li {
  padding: 0;
  width: auto;
}

#page .post-social ul > li:last-child .fa {
  margin-right: 0;
}

.post-social .faplus > .fa {
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 0;
  border-radius: 0;
}

.post-social .faplus i {
  border-radius: 100%;
  display: block;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 32px;
}


/**
  Post flip
  **/

/** Product image, use max height / imgfluid??? **/
.js-flip {
  height: 100%;
}

.post-split.top {
  cursor: pointer;
}

html.js .js-flip .post-split.bottom {
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  cursor: pointer;
  visibility: hidden;
  box-shadow: 0 0 16px #cccccc;
}

html.no-js .js-flip .post-split.bottom {
  visibility: visible;
}

html.js .flip-processed .post-split.bottom {
  visibility: visible;
}

.js-flip .post-back-inner {
  padding: 20px;
}

/**
  Post Attachment
  **/
.post-attachment {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: inherit;
  padding: 0 30px 30px;
  margin: 0 -30px 50px;
  text-align: center;
}

.post-attachment video,
.post-attachment audio {
  width: 100%;
}

.post-attachment img {
  max-width: 100%;
}

/**
  Post inner wrapper
  **/
.post-inner {
  padding: 20px;
}


/**
  Comments
  **/
#post-comment * {
  border-color: inherit;
}

.comment-title > * {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}

/** Comment entries **/
.comment {
  margin-bottom: 25px;
}

ul > .comment:last-child {
  margin-bottom: 0;
}

.comment .comment-top {
  margin-bottom: 15px;
}

.comment .comment-author {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0;
}

.comment .comment-reply {
  float: right;
}

.comment .comment-body {
  padding-bottom: 40px;
  margin-bottom: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.comment ul.media-list,
.comment ul.children {
  list-style: none;
}

.comment ul.children {
  padding-left: 40px;
  margin-top: 25px;
}

.comment-author-image img {
  width: 72px;
  height: 72px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-width: 4px;
  border-style: solid;
  border-radius: 100%;
  display: block;
}

.comment-reply-link {
  padding: 5px 14px;
  font-size: 12px;
  text-transform: none;
}

.comment-reply-link i {
  margin-right: 5px;
}

/**
  Comment Form
  **/
.logged-in-as,
.form-allowed-tags {
  clear: both;
  font-size: 11px;
}

.form-allowed-tags code {
  font-size: 11px;
  margin: 10px 0;
  padding: 0;
  display: block;
  background: none;
  border: none;
}

.post-comment #respond {
  padding: 20px;
  background: #e9e9e9;
  border-radius: 6px;
  margin-bottom: 20px;
}

.post-comment #respond:after {
  content: '';
  display: block;
  clear: both;
}

#respond .btn {
  float: left !important;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 25px;
  text-transform: capitalize;
}

#commentform textarea {
  resize: vertical;
}

#commentform p.form-submit {
  display: block;
  clear: both;
}

#commentform p.form-submit:after {
  display: block;
  content: '';
  clear: both;
}


/** 404 PAGE **/
#page-not-found #content {
  text-align: center;
  padding: 40px 0;
}

#page-not-found .title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}

#page-not-found .not-found {
  font-size: 83px;
  font-weight: normal;
  padding: 150px 0;
  position: relative;
  background: transparent url(images/404-top.png) no-repeat top center;
}

#page-not-found .not-found:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background: transparent url(images/404-bottom.png) no-repeat bottom center;
  display: block;
  content: '';
}

/**
  Normal Pagination
  **/
.pagination > ul {
  font-size: 0;
  margin: 0;
}
.pager-ajax-notice,
.pagination {
  text-align: center;
}

.pager-ajax-notice,
.pagination > a,
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  font-size: 14px;
  padding: 8px 14px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  margin-right: 5px;
}

/**
  Post navigation for navigating
  between next and previous post
  **/
.post-pagination {
  margin-bottom: 60px;
}
.post-pagination .post-nav a {
  padding: 0;
  display: table;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  position: relative;
}


.post-pagination .post-nav figure {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.post-pagination .post-nav figure:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

.post-pagination .post-nav img {
  display: none;
}

.post-pagination .post-nav span {
  padding: 50px 20px;
  display: block;
  text-align: center;
  line-height: 130%;
  z-index: 3;
  position: relative;
  font-weight: bold;
}

.post-pagination .post-nav i {
  padding: 0 7px;
}



/** WpPager **/
html.js .pager-infinite > ul {
  display: none !important;
}

#page .pager-ajax-notice {
  display: none;
}

/**
  Post pagination
  **/
.page-links > a,
.page-links > span {
  float: left;
  font-size: 14px;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  line-height: 130%;
}

.page-links {
  margin-bottom: 50px;
}

.page-links > a,
.page-links > span {
  float: none;
}

.pagination {
  display: inline-block !important;
  width: 100%;
  clear: both;
}

.pagination li:before {
  display: none;
}

/**
  Global ajax notification
  **/
.ajax-notification {
  text-align: left;
  border-radius: 0;
  bottom: 0;
  left: 0;
  line-height: 100%;
  margin: 0;
  padding: 20px;
  position: fixed;
  width: 100%;
  display: none;
  transition: all ease-out .3s;
  -webkit-transition: all ease-out .3s;
  -moz-transition: all ease-out .3s;
  -o-transition: all ease-out .3s;
  -ms-transition: all ease-out .3s;
  z-index: 9000;
}

/**
  Table
  **/
#page table th,
#page table td {
  padding: 10px;
}
#page table > tbody > tr > th {
  font-weight: normal;
}

/**
  Search Form
  @see searchform.php
  **/
#page .search-form {
  position: relative;
  height: 40px;
}

#page .search-form .search-field {
  min-height: 40px;
  padding: 5px 40px 5px 10px;
  background: transparent;
}

#page .search-form .search-submit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0;
  background: transparent;
}

/**
  Contact Information
  **/
.contact-heading {
  margin-right: 10px;
}

.contact-text {
  margin-left: 10px;
}

.contact-rows > .faplus {
  margin-right: 20px;
}

/**
  NSU Form
  **/
.form-inline .nsu-form {
  margin: 0;
}

.form-inline .nsu-form p {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 10px;
}

.form-inline .nsu-form p:first-child {
  width: 70%;
  padding-right: 20px;
}

.form-inline .nsu-form p:last-child {
  width: 30%;
}

/**
  Vertical align
  **/
.vertical-center {
  padding-top: 0;
  padding-bottom: 0;
}

/**
  Scroll top
  **/
#toTop {
  right: 45px;
  bottom: 0;
}
#toTopHover,
#toTop {
  border-radius: 30px 30px 0 0;
  width: 48px;
  height: 48px;
  line-height: 48px;
  z-index: 9001;
  background-color: #000000;
  color: #ffffff;
}

#toTopHover:after {
  content: "\f102";
}

/**
  Maps infobox
  **/
.gomapMarker img {
  width: 100%;
  max-width: 100%;
}

/**
  WPloop
  **/
.term-all {
  cursor: pointer;
}

/**
  JvFloat
  **/
.jvFloat > label {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.jvfloat-choosen label {
  display: none;
}

.jvFloat.form-group {
  margin-bottom: 0;
}

/**
  Fotorama
  **/
#page .fotorama {
  margin-bottom: 40px;
}

#page .fotorama__wrap {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#page .fotorama__stage {
  margin-bottom: 0;
}

#page .fotorama__nav-wrap {
  position: absolute;
  bottom: 40px;
  background: transparent;
}

#page .with-hoverzoom .fotorama__nav-wrap {
  position: relative;
  bottom: 0;
}

/** Thumbnail **/
#page .fotorama__nav {
  text-align: right;
  padding: 0 20px;
}

html #page .fotorama__arr {
  height: 50px;
  opacity: 1;
  text-align: center;
  width: 50px;
  height: 85px;
  line-height: 85px;
  vertical-align: middle;
  background-image: none;
}

#page .fotorama__arr--prev::before {
  content: '\f053';
}
#page .fotorama__arr--next::before {
  content: '\f054';
}

#page .fotorama__arr::before {
  font-family: fontawesome;
  font-size: 20px;
  line-height: 50px;
}

/** Dots **/
#page .fotorama__nav--dots {
  text-align: center;
}

#html #page .fotorama__nav--dots .fotorama__nav__frame {
  width: 30px;
  height: 40px;
}

html #page .fotorama__dot {
  position: relative;
  width: 8px !important;
  height: 8px !important;
}

#page .fotorama__active .fotorama__dot::after {
  border-color: inherit;
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  content: "";
  display: block;
  height: 16px;
  left: -7px;
  padding: 0;
  position: relative;
  top: -7px;
  width: 16px;
}


/**
  Slick Carousel
  **/
#page .carousel-flip .slick-list {
  height: auto !important;
}

#page .slick-carousel .slick-prev,
#page .slick-carousel .slick-next {
  width: 60px;
  height: 35px;
  line-height: 46px;
  vertical-align: middle;
  text-align: center;
  transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
}

#page .slick-carousel:hover .slick-prev,
#page .slick-carousel:hover .slick-next {
  opacity: 1;
}

#page .slick-prev::before,
#page .slick-next::before {
  font-family: "fontawesome";
  font-size: 14px;
  line-height: 1;
}

#page .slick-carousel .slick-prev {
  left: -15px;
}

#page .slick-prev::before {
  content: '\f177';
}

#page .slick-next {
  right: -15px;
}

#page .slick-next::before {
  content: '\f178';
}

#page .slick-dots li {
  width: auto;
  height: auto;
}

#page .slick-dots li button {
  border-radius: 0;
  width: 20px;
  height: 20px;
  border-width: 3px;
  border-style: solid;
}

#page .slick-dots li.slick-active button.btn {
  width: 70px;
}

.pull-top {
  margin-top: -120px;
}

.contact-box {
  width: auto;
  min-width: 400px;
  max-width: 700px;
}

.jvfloat .form-group {
  margin-bottom: 0;
}

.jvfloat .form-submit {
  margin-top: 30px;
}

/**
  Header with stripe
  **/
.header-with-marker-stripe {
  position: relative;
  z-index: 1;
}

.header-with-marker-stripe:before {
  background-color: inherit;
  bottom: 5px;
  box-sizing: content-box;
  content: "";
  display: block;
  height: 20px;
  left: -5px;
  padding: 0 20px 0 5px;
  position: absolute;
  width: 100%;
  z-index: -2;
}

.text-center .header-with-marker-stripe:before {
  padding: 0 20px;
  left: -20px;
}

.empty-element.header-with-marker-stripe {
  width: 10px;
}

.empty-element.header-with-marker-stripe:before {
  left: 0;
  padding: 0;
}


.teaser-button {
  display: inline-block;
  margin-right: 10px;
  border-radius: 100%;
  border: none;
  width: 50px;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  position: relative;
  cursor: pointer;
}


/**
  Blog Masonry Mode
  **/
.blog-masonry .post-image {
  background-color: #fff;
}
.blog-masonry .vertical-height .post-blog-teasers {
  height: 550px;
}

.blog-masonry .horizontal-height .entry-wrapper {
  float: left;
  height: 260px;
  width: 50%;
}

#page .blog-masonry .stamps,
.blog-masonry .post-content,
.blog-masonry .post-image {
  height: 260px;
  margin-bottom: 30px;
}

#page .blog-masonry .stamps {
  display: table;
}

#page .blog-masonry .stamps > * {
  display: table-cell;
  vertical-align: middle;
}

#page .blog-masonry .stamps,
.blog-masonry .post-content {
  padding: 30px;
}

.blog-masonry .post-image * {
  display: block;
  height: 260px;
  margin: 0;
  max-height: 260px;
  overflow: hidden;
}

.blog-masonry .post-image {
  position: relative;
}

.blog-masonry .image-on-bottom  .post-content {
  transition: all 0.7s ease-out 0.3s;
  -webkit-transition: all 0.7s ease-out 0.3s;
  transform: translateY(-290px);
  -webkit-transform: translateY(-290px);
}

.blog-masonry .image-on-bottom  .post-image {
  transition: all 0.7s ease-out 0.3s;
  -webkit-transition: all 0.7s ease-out 0.3s;
  transform: translateY(290px);
  -webkit-transform: translateY(290px);
}

.blog-masonry .image-on-bottom  .post-image:after {
  width: 32px;
  height: 32px;
  content: '';
  display: block;
  position: absolute;
  top: -16px;
  left: 50%;
  margin-left: -16px;
  background-color: inherit;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.blog-masonry .image-on-top  .post-image:after {
  width: 32px;
  height: 32px;
  content: '';
  display: block;
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -16px;
  background-color: inherit;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.blog-masonry .image-on-left  .post-image:after {
  width: 32px;
  height: 32px;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: -16px;
  margin-top: -16px;
  background-color: inherit;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.ls-slide .right-side {
  min-height: 100%;
  min-width: 100%;
}