/**
  WordPress Default Classes
  **/
.alignnone {
    margin: 0 0 20px;
}

.alignleft {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.alignright {
  float: right;
  margin-left:20px;
  margin-bottom: 20px;
}

div.aligncenter,
.aligncenter {
  margin: 0 auto 20px;
  float: none;
  margin-bottom: 20px;
}

.wp-caption {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	max-width: 100%;
}

.form-transparent .wp-caption-text {
	background-color: inherit;
	color: inherit;
}

.inverse .wp-caption-text {
  background: #333333;
  color: #636363;
}


.wp-caption-text {
  background: #F6F6F6;
  font-family: open_sansitalic;
  padding: 10px;
}

.gallery-caption {
	border: none;
}

.bypostauthor {
	border-width: 1px;
}

.sticky {
	border-width: 1px;
}

.assistive-text,
.screen-reader-text {
  display: none;
}

/**
  Gallery
  **/
.gallery {
	margin-bottom: 30px !important;
}
.gallery .gallery-item a {
	display: block;
}

.gallery .gallery-icon {
	padding: 6px;
	margin: 2px;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.gallery .gallery-item img {
  border: none !important;
  max-width: 100%;
}

.post-gallery img {
	width: 100%;
	height: 100%;
}

/**
  Comment Form
  **/
#commentform:after {
	content: '';
	clear: both;
	display: block;
}