/** 
  Modifying the language selector widget
  **/

#page #lang_sel,
#page #lang_sel *,
#page #lang_sel_list,
#page #lang_sel_list * {
  background-color: inherit;
  border-color: inherit;
  color: inherit;
  font-family: inherit;
  text-align: left;
}

#page #lang_sel_list a,
#page #lang_sel ul ul a {
  padding: 10px;
}

#page #header .lang_sel_list_horizontal,
#page #header .lang_sel_list_horizontal * {
  background: none !important;
  text-align: center;
}

#page #header .lang_sel_list_horizontal {
  margin-top: 1px;
}

#page #header .lang_sel_list_horizontal li {
  display: inline-block;
  float: none;
}

#page #header .lang_sel_list_horizontal a {
  padding-right: 5px;
  padding-left: 0;
}

#page #header .lang_sel_list_horizontal a:after {
  content: '/';
  display: inline-block;
  margin-left: 5px;
}

#page #header .lang_sel_list_horizontal ul > li:last-child a:after {
  display: none;
}

/**
  Member single page
  **/
