/**
  Services related element styling including :
  1. Services single page
  2. Services Flip items
  3. Services Archives
  4. Service Schedule Table
  5. Services Simple Carousel template
  **/


/**
  Services Single
  **/
.services-header-wrapper .post-thumbnail-full {
  margin-top: -120px;
}

.services-header-wrapper .post-header-title {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 20px;
}

.services-header-wrapper .services-department {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px
}

.services-header-wrapper .services-price {
  font-size: 18px;
  font-weight: bold;
}

.services-header-wrapper .wpcurrency-sign {
  margin-right: 10px;
}

.post-single.post-services .services-schedule .post-header-title {
  font-size: 24px;
  font-weight: 700;
}

/**
  Service Schedule Table
  **/
#page .schedule-table th,
#page .schedule-table td {
  padding: 20px;
  vertical-align: top;
}
.schedule-table thead th {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.schedule-table td.schedule-description {
  width: 30%;
}

.schedule-table td.schedule-days {
  width: 15%;
  text-transform: capitalize;
}

.schedule-table td.schedule-time {
  width: 15%;
}

.schedule-table td.schedule-location {
  width: 20%;
  text-transform: capitalize;
}

.schedule-table td.schedule-members {
  width: 20%;
}


/**
  Service Archive
  **/
.services-archive-title {
  margin-bottom: 40px;
}

.services-archive-description {
  margin-bottom: 80px;
}

/**
  Services Flip
  @see wp-loop/services-flip.php for markup
  **/
html.js #page .post-services-teasers .services-teasers-wrapper .post-split {
  box-shadow: none;
}
.post-services-teasers .services-teasers-wrapper .post-back-inner {
  padding: 20px;
}

.post-services-teasers .services-teasers-wrapper .post-split.top .post-back-inner {
  height: 355px;
}

.post-services-teasers .services-teasers-wrapper .post-split.top .services-icon {
  height: 140px;
  margin-bottom: 35px;
}

#page .post-services-teasers .services-teasers-wrapper .post-split.top .post-title {
  font-size: 14px;
  margin-bottom: 10px;
  max-height: 60px;
}

.post-services-teasers .services-teasers-wrapper .post-split.top .post-excerpt {
  max-height: 80px;
  padding: 0;
}

.post-services-teasers .services-teasers-wrapper .post-split.bottom .post-back-inner {
  height: auto !important;
  transform: translateY(-200px);
  transition: all ease-out 1s;
  -webkit-transition: all ease-out 1s;
}

.post-services-teasers .services-teasers-wrapper.flipped .post-split.bottom .post-back-inner {
  transform: translateY(0);
}


#page .post-services-teasers .services-teasers-wrapper .post-split.bottom .post-thumbnail {
  display: block;
  height: 355px;
  margin: 0;
  background: inherit;
}

#page .post-services-teasers .services-teasers-wrapper .post-split.bottom .post-title {
  font-size: 14px;
  max-height: 25px;
}

.post-services-teasers .services-teasers-wrapper .post-split.bottom .services-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 25px;
}

.post-services-teasers .services-teasers-wrapper .post-split.bottom .services-price .wpcurrency-sign {
  margin-right: 5px;
}

.services-carousel.carousel-flip .slick-items,
html.js .slick-items.services-carousel-item {
  display: block !important;
  padding: 15px;
}

/**
  Services simple carousel template
  **/
.services-carousel-simple .slick-list {
  overflow: visible;
  position: relative;
}

.services-carousel-simple .slick-track {
  /**height: 100%**/;
  position: relative;
}

.services-carousel-simple .services-items  {
  padding: 40px;
  text-align: center;
}

.services-carousel-simple .services-icon {
  padding: 0 10px 20px;
  width: 100%;
  height: 100px;
  display: table;
}

.services-carousel-simple .services-icon img {
  height: 80px;
}

.services-carousel-simple .wp-icons-effect {
  height: 90px;
  width: 90px
  overflow: hidden;
}

.services-carousel-simple .services-icon i {
  display: table-cell;
  vertical-align: middle;
  transition: all ease-in 0.4s;
  -webkit-transition: all ease-in 0.4s;
}

.services-carousel-simple .services-icon i.medikal {
  display: inline-block;
  margin-top: -29px;
}

#page .services-carousel-simple .post-title a {
  margin: 0 0 5px;
  transition: all ease-in 0.4s;
  -webkit-transition: all ease-in 0.4s;
}

#page .services-carousel-simple .post-excerpt {
  margin: 0;
  padding: 0;
  color: #fff;
  transition: all ease-in 0.4s;
  -webkit-transition: all ease-in 0.4s;
}

.services-carousel-simple .slick-items {
  height: 100%;
  transition: all ease-in 0.7s;
  -webkit-transition: all ease-in 0.7s;
  z-index: 1;
}

#page .services-carousel-simple .slick-center {
  z-index: 3;
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  position: relative; /** Chrome z-index bug fix **/
}



/** Services Icons **/
.services-icon i {
  font-size: 120px;
}
.services-icon i.medikal {
  font-size: 180px;
}

/**
  Carousel flip
  **/
.slick-items .services-flip-items {
  /**padding: 0 15px;**/
}


/**
  Services Grid
  **/
#page .wp-loop .services-grid-items {
  margin-bottom: 60px;
  padding: 30px;
  display: block;
  height: auto;
}

.services-grid-items .post-thumbnail {
  position: relative;
  overflow: hidden;
  display: block;
}

#page .services-grid-items .post-thumbnail .post-readmore a {
  display: table !important;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 60px;
  color: #fff;
  background: rgba(61, 197, 223, 0.7);
}

.services-grid-items .post-thumbnail .post-readmore i {
  display: table-cell;
  vertical-align: middle;
}

#page .services-grid-items .post-thumbnail:hover .post-readmore a {
  top: 0;
}

/**
  Service Table list
  **/
.service-table-listing {
  margin-top: 10px;
  padding: 30px;
  clear: both;
}

.service-table-row {
  border-width: 1px;
  border-style: solid;
  margin-bottom: 30px;
}

.service-table-listing .services-column-description {
  padding: 30px;
}

.service-table-listing .services-time > * {
  padding: 30px;
  text-transform: capitalize;
}

.service-table-listing .services-member-photo {
  border-radius: 100%;
  width: 68px;
  height: 68px;
  overflow: hidden;
  margin: 20px 20px 60px 10px;
  float: left;
  border-width: 4px;
  border-style: solid;
}

.service-table-listing .services-member-name {
  margin-top: 20px;
  margin-left: 78px;
}

.service-table-listing .member-link {
  display: block !important;
}

.service-table-listing .services-member-office {
  margin-left: 78px;
}