/**
  Social
  @note don't put this to auto color.
  **/
#page .post-social i.fa-google-plus:hover {
  background: #ee5a4b;
  color: #fff;
}

#page .post-social i.fa-twitter:hover {
  background: #27c2fc;
  color: #fff;
}

#page .post-social i.fa-facebook:hover {
  background: #638fe0;
  color: #fff;
}

#page .post-social i.fa-pinterest:hover {
  background: #CB2027;
  color: #fff;
}

#page .post-social i.fa-linkedin:hover {
  background: #1D87BD;
  color: #fff;
}

#page .post-social i.fa-github:hover {
  background: #4183C4;
  color: #fff;
}

#page .post-social i.fa-flickr:hover {
  background: #EC0C7C;
  color: #fff;
}

#page .post-social i.fa-youtube:hover {
  background: #E3493F;
  color: #fff;
}

#page .post-social i.fa-instagram:hover {
  background: #783DBB;
  color: #fff;
}

#page .post-social i.fa-weibo:hover {
  background: #CD2F23;
  color: #fff;
}

#page .post-social i.fa-tumblr:hover {
  background: #385774;
  color: #fff;
}

#page .post-social i.fa-skype:hover {
  background: #0CA6E4;
  color: #fff;
}

#page .post-social i.fa-bitbucket:hover {
  background: #1F4F7F;
  color: #fff;
}

#page .post-social i.fa-dropbox:hover {
  background: #02529B;
  color: #fff;
}

#page .post-social i.fa-foursquare:hover {
  background: #2BB2EA;
  color: #fff;
}

#page .post-social i.fa-gittip:hover {
  background: #623412;
  color: #fff;
}

#page .post-social i.fa-renren:hover {
  background: #016BCF;
  color: #fff;
}

#page .post-social i.fa-stack-exchange:hover {
  background: #F47A21;
  color: #fff;
}

#page .post-social i.fa-trello:hover {
  background: #195E85;
  color: #fff;
}

#page .post-social i.fa-vk:hover {
  background: #194492;
  color: #fff;
}

#page .post-social i.fa-vimeo-square:hover {
  background: #33AACC;
  color: #fff;
}

#page .post-social i.fa-xing:hover {
  background: #00585E;
  color: #fff;
}

#page .post-social i.fa-dribbble:hover {
  background: #FD553A;
  color: #fff;
}

/**
  Widgets
  **/
.widget_widgets_testimonial .items .wrapper {
  border-color: #eaeeef;
}

.widget_widgets_testimonial .items .quote {
  color: #f3f4f5;
}

/**
  Bootstrap Element
  @no need to integrate this to schema arrays!
  **/
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #a9a9a9;
}

.alert {
  color: #fff;
}

.alert-info {
  background: #005782;
}

.alert-success {
  background: #068e06;
}

.alert-warning {
  background: #D54E21;
}

.alert-danger,
.alert-error {
  background: #b30d00;
}

.panel-group .panel-heading .collapsible-icon > i {
  border: 2px solid #5d5d5d;
  background: #f5f5f5;
}

.jumbotron .content {
  color: #232323;
}

.carousel-control i,
.carousel-control .fa-prev,
.carousel-control .fa-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  color: #dddee0;
}

/**
  Visual Composer
  **/
#page .vc_progress_bar .vc_single_bar.bar_blue .vc_bar {
  background-color: #3488c9;
}

#page .vc_progress_bar .vc_single_bar.bar_turquoise .vc_bar {
  background-color: #49afcd;
}

#page .vc_progress_bar .vc_single_bar.bar_green .vc_bar {
  background-color: #5bb75b;
}

#page .vc_progress_bar .vc_single_bar.bar_orange .vc_bar {
  background-color: #fd7619;
}

#page .vc_progress_bar .vc_single_bar.bar_red .vc_bar {
  background-color: #da4f49;
}

#page .vc_progress_bar .vc_single_bar.bar_black .vc_bar {
  background-color: #414141;
}

#page .vc_progress_bar .vc_single_bar .vc_label {
  text-shadow: 0;
}

#page .vc_progress_bar .vc_single_bar .vc_bar {
  background-color: #bfc9d4;
}

#page .vc_box_border_grey {
  background-color: #dedede;
}

#page .vc_label_units {
  font-weight: bold;
}

/**
  VC Buttons
  **/
#page .vc_btn_blue {
  background-color: #3488c9;
  color: #eeeeee !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_blue:hover {
  background-color: #3079b1;
  color: #f7f7f7 !important;
}

#page .vc_btn_blue.vc_btn_outlined,
#page .vc_btn_blue.vc_btn_square_outlined {
  color: #5472d2 !important;
}

#page .vc_btn_blue.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #3488c9;
  box-shadow: 0 5px 0 #3488c9;
  margin-bottom: 5px;
}

#page .vc_btn_turquoise {
  background-color: #00c1cf;
  color: #ffffff !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_turquoise:hover {
  background-color: #00a4b0;
  color: #f7f7f7 !important;
}

#page .vc_btn_turquoise.vc_btn_outlined,
#page .vc_btn_turquoise.vc_btn_square_outlined {
  color: #00c1cf !important;
}

#page .vc_btn_turquoise.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #008d97;
  box-shadow: 0 5px 0 #008d97;
  margin-bottom: 5px;
}

#page .vc_btn_pink {
  background-color: #f7504c;
  color: #eeeeee !important;
}

#page .vc_btn_pink:hover {
  background-color: #dc4642;
  color: #f7f7f7 !important;
}

#page .vc_btn_pink.vc_btn_outlined,
#page .vc_btn_pink.vc_btn_square_outlined {
  color: #fe6c61 !important;
}

#page .vc_btn_pink.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #fe3829;
  box-shadow: 0 5px 0 #fe3829;
  margin-bottom: 5px;
}

#page .vc_btn_violet {
  background-color: #8d6dc4;
  color: #ffffff !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_violet:hover {
  background-color: #7c57bb;
  color: #f7f7f7 !important;
}

#page .vc_btn_violet.vc_btn_outlined,
#page .vc_btn_violet.vc_btn_square_outlined {
  color: #8d6dc4 !important;
}

#page .vc_btn_violet.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #6e48b1;
  box-shadow: 0 5px 0 #6e48b1;
  margin-bottom: 5px;
}

#page .vc_btn_peacoc {
  background-color: #4cadc9;
  color: #ffffff !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_peacoc:hover {
  background-color: #39a0bd;
  color: #f7f7f7 !important;
}

#page .vc_btn_peacoc.vc_btn_outlined,
#page .vc_btn_peacoc.vc_btn_square_outlined {
  color: #4cadc9 !important;
}

#page .vc_btn_peacoc.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #338faa;
  box-shadow: 0 5px 0 #338faa;
  margin-bottom: 5px;
}

#page .vc_btn_chino {
  background-color: #cec2ab;
  color: #ffffff !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_chino:hover {
  background-color: #c3b498;
  color: #f7f7f7 !important;
}

#page .vc_btn_chino.vc_btn_outlined,
#page .vc_btn_chino.vc_btn_square_outlined {
  color: #cec2ab !important;
}

#page .vc_btn_chino.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #b9a888;
  box-shadow: 0 5px 0 #b9a888;
  margin-bottom: 5px;
}

#page .vc_btn_mulled_wine {
  background-color: #50485b;
  color: #ffffff !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_mulled_wine:hover {
  background-color: #413a4a;
  color: #f7f7f7 !important;
}

#page .vc_btn_mulled_wine.vc_btn_outlined,
#page .vc_btn_mulled_wine.vc_btn_square_outlined {
  color: #50485b !important;
}

#page .vc_btn_mulled_wine.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #342f3c;
  box-shadow: 0 5px 0 #342f3c;
  margin-bottom: 5px;
}

#page .vc_btn_vista_blue {
  background-color: #75d69c;
  color: #ffffff !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_vista_blue:hover {
  background-color: #5dcf8b;
  color: #f7f7f7 !important;
}

#page .vc_btn_vista_blue.vc_btn_outlined,
#page .vc_btn_vista_blue.vc_btn_square_outlined {
  color: #75d69c !important;
}

#page .vc_btn_vista_blue.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #4ac97d;
  box-shadow: 0 5px 0 #4ac97d;
  margin-bottom: 5px;
}

#page .vc_btn_black {
  background-color: #2a2a2a;
  color: #ffffff !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_black:hover {
  background-color: #1b1b1b;
  color: #f7f7f7 !important;
}

#page .vc_btn_black.vc_btn_outlined,
#page .vc_btn_black.vc_btn_square_outlined {
  color: #2a2a2a !important;
}

#page .vc_btn_black.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #0e0e0e;
  box-shadow: 0 5px 0 #0e0e0e;
  margin-bottom: 5px;
}

#page .vc_btn_grey {
  background-color: #eeeeee;
  border-color: #bfbfbf;
  color: #434343 !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_grey:hover {
  background-color: #eeeeee;
  border-color: #59b630;
  color: #434343 !important;
}

#page .vc_btn_grey.vc_btn_outlined,
#page .vc_btn_grey.vc_btn_square_outlined {
  color: #ebebeb !important;
}

#page .vc_btn_grey.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #cfcfcf;
  box-shadow: 0 5px 0 #cfcfcf;
  margin-bottom: 5px;
}

#page .vc_btn_orange {
  background-color: #f97307;
  color: #eeeeee !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_orange:hover {
  background-color: #ed6e08;
  color: #eeeeee !important;
}

#page .vc_btn_orange.vc_btn_outlined,
#page .vc_btn_orange.vc_btn_square_outlined {
  color: #f7be68 !important;
}

#page .vc_btn_orange.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #f4a733;
  box-shadow: 0 5px 0 #f4a733;
  margin-bottom: 5px;
}

#page .vc_btn_sky {
  background-color: #5aa1e3;
  color: #ffffff !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_sky:hover {
  background-color: #4092df;
  color: #f7f7f7 !important;
}

#page .vc_btn_sky.vc_btn_outlined,
#page .vc_btn_sky.vc_btn_square_outlined {
  color: #5aa1e3 !important;
}

#page .vc_btn_sky.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #2a86db;
  box-shadow: 0 5px 0 #2a86db;
  margin-bottom: 5px;
}

#page .vc_btn_green {
  background-color: #65be3e;
  color: #eeeeee !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_green:hover {
  background-color: #5f9434;
  color: #f7f7f7 !important;
}

#page .vc_btn_green.vc_btn_outlined,
#page .vc_btn_green.vc_btn_square_outlined {
  color: #6dab3c !important;
}

#page .vc_btn_green.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #53812d;
  box-shadow: 0 5px 0 #53812d;
  margin-bottom: 5px;
}

#page .vc_btn_juicy_pink {
  background-color: #f4524d;
  color: #ffffff !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_juicy_pink:hover {
  background-color: #f23630;
  color: #f7f7f7 !important;
}

#page .vc_btn_juicy_pink.vc_btn_outlined,
#page .vc_btn_juicy_pink.vc_btn_square_outlined {
  color: #f4524d !important;
}

#page .vc_btn_juicy_pink.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #f11f18;
  box-shadow: 0 5px 0 #f11f18;
  margin-bottom: 5px;
}

#page .vc_btn_sandy_brown {
  background-color: #f79468;
  color: #ffffff !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_sandy_brown:hover {
  background-color: #f57f4b;
  color: #f7f7f7 !important;
}

#page .vc_btn_sandy_brown.vc_btn_outlined,
#page .vc_btn_sandy_brown.vc_btn_square_outlined {
  color: #f79468 !important;
}

#page .vc_btn_sandy_brown.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #f46e33;
  box-shadow: 0 5px 0 #f46e33;
  margin-bottom: 5px;
}

#page .vc_btn_purple {
  background-color: #b97ebb;
  color: #ffffff !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_purple:hover {
  background-color: #ae6ab0;
  color: #f7f7f7 !important;
}

#page .vc_btn_purple.vc_btn_outlined,
#page .vc_btn_purple.vc_btn_square_outlined {
  color: #b97ebb !important;
}

#page .vc_btn_purple.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #a559a8;
  box-shadow: 0 5px 0 #a559a8;
  margin-bottom: 5px;
}

#page .vc_btn_white {
  background-color: #ffffff;
  color: #666666 !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_white:hover {
  background-color: #f0f0f0;
  color: #5e5e5e !important;
}

#page .vc_btn_white.vc_btn_outlined,
#page .vc_btn_white.vc_btn_square_outlined {
  color: #ffffff !important;
}

#page .vc_btn_white.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #e3e3e3;
  box-shadow: 0 5px 0 #e3e3e3;
  margin-bottom: 5px;
}

#page .vc_btn_grace {
  background-color: #aed13b;
  color: #ffffff !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#page .vc_btn_grace:hover {
  background-color: #9ec02d;
  color: #f7f7f7 !important;
}

#page .vc_btn_grace.vc_btn_outlined,
#page .vc_btn_grace.vc_btn_square_outlined {
  color: #aed13b !important;
}

#page .vc_btn_grace.vc_btn_3d {
  -webkit-box-shadow: 0 5px 0 #8dac28;
  box-shadow: 0 5px 0 #8dac28;
  margin-bottom: 5px;
}

/** COLOR SETS **/
.view.blue .mask {
  background-color: rgba(0, 174, 219, 0.66);
}

.view.blue .view-header .faplus > .faplus-shape-diamond,
.view.blue .view-header .faplus > .faplus-shape-circle {
  background: #00aedb;
}

.view.blue .info {
  border-color: #fff;
  color: #fff;
}

.view.blue .info:hover .faplus > .fa {
  background: #0ea5cc;
}

.view.purple .mask {
  background-color: rgba(125, 5, 194, 0.66);
}

.view.purple .view-header .faplus > .faplus-shape-diamond,
.view.purple .view-header .faplus > .faplus-shape-circle {
  background: #a200ff;
}

.view.purple .info {
  border-color: #fff;
  color: #fff;
}

.view.purple .info:hover .faplus > .fa {
  background: #7d05c2;
}

.view.red .mask {
  background-color: rgba(212, 18, 67, 0.66);
}

.view.red .view-header .faplus > .faplus-shape-diamond,
.view.red .view-header .faplus > .faplus-shape-circle {
  background: #d41243;
}

.view.red .info {
  border-color: #fff;
  color: #fff;
}

.view.red .info:hover .faplus > .fa {
  background: #93092c;
}

.view.orange .mask {
  background-color: rgba(244, 120, 53, 0.8);
}

.view.orange .view-header .faplus > .faplus-shape-diamond,
.view.orange .view-header .faplus > .faplus-shape-circle {
  background: #bd5d2a;
}

.view.orange .info {
  border-color: #fff;
  color: #fff;
}

.view.orange .info:hover .faplus > .fa {
  background: #d25c1d;
}

.view.green .mask {
  background-color: rgba(142, 193, 39, 0.8);
}

.view.green .view-header .faplus > .faplus-shape-diamond,
.view.green .view-header .faplus > .faplus-shape-circle {
  background: #7ba722;
}

.view.green .info {
  border-color: #fff;
  color: #fff;
}

.view.green .info:hover .faplus > .fa {
  background: #a8e42f;
}

.view.black .mask {
  background-color: rgba(0, 0, 0, 0.8);
}

.view.black .view-header .faplus > .faplus-shape-diamond,
.view.black .view-header .faplus > .faplus-shape-circle {
  background: #515151;
}

.view.black .info {
  border-color: #fff;
  color: #fff;
}

.view.black .info:hover .faplus > .fa {
  background: #222222;
}

.view.yellow .mask {
  background-color: rgba(213, 191, 2, 0.66);
}

.view.yellow .view-header .faplus > .faplus-shape-diamond,
.view.yellow .view-header .faplus > .faplus-shape-circle {
  background: #D5BF02;
}

.view.yellow .info {
  border-color: #fff;
  color: #fff;
}

.view.yellow .info:hover .faplus > .fa {
  background: #a08f01;
}

.view.choco .mask {
  background-color: rgba(141, 98, 86, 0.66);
}

.view.choco .view-header .faplus > .faplus-shape-diamond,
.view.choco .view-header .faplus > .faplus-shape-circle {
  background: #8D6256;
}

.view.choco .info {
  border-color: #fff;
  color: #fff;
}

.view.choco .info:hover .faplus > .fa {
  background: #694940;
}

.view .view-header {
  color: #fff !important;
}

.view .view-content {
  color: #fff !important;
}

/** Visual composer addon **/
#page .wpb_tabs.tabs-open-style .wpb_tabs_nav {
  border: 1px solid #bcc8d5;
}

#page .wpb_tabs.tabs-open-style .wpb_tabs_nav li a {
  color: #bcc8d5;
}

#page .wpb_tabs.tabs-open-style .wpb_tabs_nav li a:focus,
#page .wpb_tabs.tabs-open-style .wpb_tabs_nav li:focus a,
#page .wpb_tabs.tabs-open-style .wpb_tabs_nav li:hover a,
#page .wpb_tabs.tabs-open-style .wpb_tabs_nav li.ui-state-active a {
  color: #506378 !important;
}

#page .custom-blog-grid .post-icon-block .vc_icon_element-inner {
  border: 4px solid #ffffff;
}

#page .custom-blog-grid .post-icon-block .vc_icon_element-inner:hover {
  background-color: #232829;
}

#page .vc_gitem-post-data-source-post_title {
  color: #393f40;
}

#page .custom-blog-grid .post-meta:after {
  color: #e7483e;
}

.portfolio-front-box-two .button-bottom {
  background-color: #080707;
}

#page .portfolio-front-box-two .slick-carousel .slick-prev,
#page .portfolio-front-box-two .slick-carousel .slick-next {
  background-color: #08070a;
}

#page .portfolio-front-box-three .slick-carousel .slick-prev,
#page .portfolio-front-box-three .slick-carousel .slick-next {
  background-color: #08070a;
}

html.vc_desktop #page .services-page-readmore-mini .vc_icon_element-icon::before {
  background-color: #ffffff;
}

/**
  Alerts
  **/
.alert-info {
  background-color: #41BBF8;
}

.alert-info a {
  color: #eeeeee;
}

.alert-error {
  background-color: #BF1D78;
}

.alert-error a {
  color: #eeeeee;
}

.alert-success {
  background-color: #87AE07;
}

.alert-success a {
  color: #eeeeee;
}